<!DOCTYPE html>
<html lang="en-US">
<head>
<title>ELearning Platform</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="css/custom.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<script src="js/font.js"></script>
<!-- end cmp -->
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css"> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>


<body style="position:relative;min-height:100%;">

<div class='w3-container top' style="padding-top:20px;">
  <a class='w3schools-logo notranslate' style="position:absolute;" href='./index.html'>Elearning<span class='dotcom'>.org</span></a>

  <div id="loginactioncontainer" class='w3-right' style='width:80px;height:50px;'>
    <div id="mypagediv"></div> 
      <a id="w3loginbtn" style="border: medium none; display: inline; cursor: pointer; background-color: #2090db;" class="login w3-right w3-hover-greener" href="./login.html" target="_self">LOG IN</a>
  </div>

  <div id="theworldsgreatest" class='w3-right w3-hide-medium w3-hide-small w3-wide toptext' style="line-height: 50px;margin-right:20px;font-family:'Segoe UI',Arial,sans-serif">
    THE WORLD'S LARGEST ONLINE LEARNING PLATFORM
  </div>

</div>


<div class="w3-bar w3-theme w3-card-2 w3-wide notranslate">
 <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 hidesm" href="javascript:void(0)" onclick="w3_open()"><i class='fa'>&#xf0c9;</i></a>
 <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('tutorials')" id="navbtn_tutorials">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
 <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('references')" id="navbtn_references">CORE SUBJECTS <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
 <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('examples')" id="navbtn_examples">QUIZ <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
 <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16 w3-hide-medium w3-hide-small" href="javascript:void(0)" onclick="w3_open_nav('exercises')" id="navbtn_exercises">ONLINE COURSES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
 
 <div class="w3-right">
  
  <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="./signup.html" title='signup'>Sign Up</a>
  <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="./about.html" title='About'>About</a>
  
 </div>
</div>


 <div id='myAccordion' class="w3-card-2 w3-light-grey w3-center w3-hide-large" style="display:none;cursor:default"> 
 <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-xlarge w3-right">&times;</a><br>
 <div class="w3-container w3-padding-32">
  <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('tutorials');" href="javascript:void(0);">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i></a>
  <div id="sectionxs_tutorials" class="w3-white w3-show"></div>
  <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('references')" href="javascript:void(0);">CORE SUBJECTS <i class='fa fa-caret-down'></i></a>
  <div id="sectionxs_references" class="w3-white w3-show"></div>
  <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('examples')" href="javascript:void(0);">QUIZ <i class='fa fa-caret-down'></i></a>
  <div id="sectionxs_examples" class="w3-white w3-show"></div>
  <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('exercises')" href="javascript:void(0);">ONLINE COURSES <i class='fa fa-caret-down'></i></a>
  <div id="sectionxs_exercises" class="w3-white w3-show"></div>
  
 </div>
</div> 

<nav id="nav_tutorials" class="w3-light-grey w3-card-2 w3-hide-small navex">
 <span onclick="w3_close_nav('tutorials')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
 <div class="w3-row-padding w3-bar-block">
  <div class="w3-col l3 m6">
   <h3 class="w3-margin-top">HTML5 and CSS3</h3>
    <a class="w3-bar-item w3-button" href="./data/HTML/a.html">HTML - Attributes</a>
    <a class="w3-bar-item w3-button" href="./data/HTML/b.html">HTML - Frames</a>
    <a class="w3-bar-item w3-button" href="./data/HTML/c.html">HTML - Forms</a>
    <a class="w3-bar-item w3-button" href="./data/HTML/d.html">HTML - Embed Media</a>
    <a class="w3-bar-item w3-button" href="./data/HTML/e.html">HTML - Layouts</a>
    <a class="w3-bar-item w3-button" href="./data/CSS/a.html">CSS - Visibility</a>
    <a class="w3-bar-item w3-button" href="./data/CSS/b.html">CSS - Positioning</a>
    <a class="w3-bar-item w3-button" href="./data/CSS/c.html">CSS - Padding</a>
    <a class="w3-bar-item w3-button" href="./data/CSS/d.html">CSS - Layers</a>
    <a class="w3-bar-item w3-button" href="./data/CSS/e.html">CSS - Animation</a> 

  </div>
  <div class="w3-col l3 m6">
   <h3 class="w3-margin-top">JavaScript</h3>
   <a class="w3-bar-item w3-button" href="./data/JavaScript/a.html">JavaScript - Objects</a>
   <a class="w3-bar-item w3-button" href="./data/JavaScript/b.html">JavaScript - Strings</a>
   <a class="w3-bar-item w3-button" href='./data/JavaScript/c.html'>JavaScript - Math</a>
   <a class="w3-bar-item w3-button" href='./data/JavaScript/d.html'>JavaScript - Arrays</a>
   <a class="w3-bar-item w3-button" href='./data/JavaScript/e.html'>JavaScript - Error Handling</a>
   
  </div> 
 <div class="w3-col l3 m6">
    <h3 class="w3-margin-top">Python</h3>
    <a class="w3-bar-item w3-button" href="./data/Python/a.html">Python - Variables</a>
    <a class="w3-bar-item w3-button" href="./data/Python/b.html">Python - Strings</a>
    <a class="w3-bar-item w3-button" href="./data/Python/c.html">Python - Lists</a>
    <a class="w3-bar-item w3-button" href="./data/Python/d.html">Python - Tuples</a>
    <a class="w3-bar-item w3-button" href="./data/Python/e.html">Python - Dictionary</a>
    <a class="w3-bar-item w3-button" href="./data/Python/f.html">Python - Exceptions</a>
    
   
  </div>
  <div class="w3-col l3 m6 w3-hide-medium">
     
   <h3 class="w3-margin-top">Artificial Intelligence</h3>
    <a class="w3-bar-item w3-button" href="./data/AI/a.html"> AI Overview</a>
    <a class="w3-bar-item w3-button" href="./data/AI/b.html"> NLP</a>
    <a class="w3-bar-item w3-button" href="./data/AI/c.html"> Robotics</a> 
    <a class="w3-bar-item w3-button" href="./data/AI/d.html"> Neural Networks</a> 
    <a class="w3-bar-item w3-button" href="./data/AI/e.html"> Expert Systems</a> 
     
  </div>
 </div>
 <br class="hidesm">
</nav>

<nav id="nav_references" class="w3-light-grey w3-card-2 w3-hide-small navex">
 <span onclick="w3_close_nav('references')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
 <div class="w3-row-padding w3-bar-block">
  <div class="w3-col l3 m6">
   <h3 class="w3-margin-top">Data Structure & Algorithms</h3>
    <a class="w3-bar-item w3-button" href="./data/DSA/a.html">Greedy Algorithms</a>
    <a class="w3-bar-item w3-button" href="./data/DSA/b.html">Divide and Conquer</a>
    <a class="w3-bar-item w3-button" href="./data/DSA/c.html">Dynamic Programming</a>
    <a class="w3-bar-item w3-button" href='./data/DSA/d.html'>Linked List</a>
    <a class="w3-bar-item w3-button" href="./data/DSA/e.html">Stack</a>
    <a class="w3-bar-item w3-button" href="./data/DSA/f.html">Queue</a>
   
  </div>
  <div class="w3-col l3 m6">
   <h3 class="w3-margin-top">Database</h3>
    <a class="w3-bar-item w3-button" href="./data/Database/a.html"> Architecture</a>
    <a class="w3-bar-item w3-button" href='./data/Database/b.html'> ER Model</a>
    <a class="w3-bar-item w3-button" href="./data/Database/c.html"> Indexing</a>
    <a class="w3-bar-item w3-button" href='./data/Database/d.html'> Hashing</a>
    <a class="w3-bar-item w3-button" href='./data/Database/e.html'> Deadlock</a>
  
  </div>
  <div class="w3-col l3 m6">
   <h3 class="w3-margin-top">Computer Networks</h3>
    <a class="w3-bar-item w3-button" href='./data/Network/a.html'> Network Types</a>
    <a class="w3-bar-item w3-button" href='./data/Network/b.html'> Topologies</a>
    <a class="w3-bar-item w3-button" href='./data/Network/c.html'> Physical Layer</a>
    <a class="w3-bar-item w3-button" href='./data/Network/d.html'> Data Link Layer</a>
    <a class="w3-bar-item w3-button" href='./data/Network/e.html'> Network Layer</a>

  </div>
  <div class="w3-col l3 m6">
   <h3 class="w3-margin-top">Operating System</h3>
    <a class="w3-bar-item w3-button" href='./data/OS/a.html'> OS Types</a>
    <a class="w3-bar-item w3-button" href='./data/OS/b.html'> Processes</a>
    <a class="w3-bar-item w3-button" href='./data/OS/c.html'> Memory Management</a>
    <a class="w3-bar-item w3-button" href='./data/OS/d.html'> Virtual Memory</a>
    <a class="w3-bar-item w3-button" href='./data/OS/e.html'> File System</a>
  
  </div>
 </div>
 <br class="hidesm">
</nav>

<nav id="nav_examples" class="w3-light-grey w3-card-2 w3-hide-small navex">
 <span onclick="w3_close_nav('examples')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
 <div class="w3-row-padding w3-bar-block">
  <div class="w3-col l3 m6">
   <h3 class="w3-margin-top">HTML and CSS</h3>
   <a class="w3-bar-item w3-button" href='#'>HTML Quiz</a>
   <a class="w3-bar-item w3-button" href='#'>CSS Quiz</a>
   
  </div>
  <div class="w3-col l3 m6">
  
   <h3 class="w3-margin-top">Programming</h3>
   <a class="w3-bar-item w3-button" href="#" target="_top">Python Quiz</a>
   <a class="w3-bar-item w3-button" href="#" target="_top">JavaScript Quiz</a>
  </div>
  <div class="w3-col l3 m6">
   <h3 class="w3-margin-top">Core Subjects</h3>
   <a class="w3-bar-item w3-button" href="#" target="_top">Data Structure Quiz</a>
   <a class="w3-bar-item w3-button" href="#" target="_top">Algorithms Quiz</a>
   <a class="w3-bar-item w3-button" href="#" target="_top">Database Quiz</a>
   <a class="w3-bar-item w3-button" href="#" target="_top">Operating System Quiz</a>
   <a class="w3-bar-item w3-button" href="#" target="_top">Computer Network Quiz</a>
 
  
  </div>
  <div class="w3-col l3 m6 w3-hide-medium">
   <h3 class="w3-margin-top">Advanced Technology</h3>
   <a class="w3-bar-item w3-button" href="#" target="_top">AI Quiz</a>
   <a class="w3-bar-item w3-button" href="#" target="_top">NLP Quiz</a>
   <a class="w3-bar-item w3-button" href="#" target="_top">Robotics Quiz</a>
  </div>
</div>
 <br class="hidesm">
</nav>

<nav id="nav_exercises" class="w3-light-grey w3-card-2 w3-hide-small w3-hide-medium navex">
 <span onclick="w3_close_nav('exercises')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
 <div class="w3-row-padding w3-bar-block">
  <div class="w3-col l4 m12">
   <h3 class="w3-margin-top">Web Development</h3>
   <a class="w3-bar-item w3-button" href="#">HTML Course</a>
   <a class="w3-bar-item w3-button" href="#">CSS Course</a>
   <a class="w3-bar-item w3-button" href="#">JavaScript Course</a>
   <a class="w3-bar-item w3-button" href="#">SQL Course</a>
   <a class="w3-bar-item w3-button" href="#">Python Course</a>
  </div>
  <div class="w3-col l4 m12">
   <h3 class="w3-margin-top">Mobile Development</h3>
   <a class="w3-bar-item w3-button" href="#" target="_top">React Native Course</a>
   <a class="w3-bar-item w3-button" href="#" target="_top">Flutter Course</a>
  </div>
  <div class="w3-col l4 m12">
   <h3 class="w3-margin-top">Game Development</h3>
   <a class="w3-bar-item w3-button" href="#" target="_blank">C# Course</a>
   <a class="w3-bar-item w3-button" href="#" target="_blank">C++ Course</a>
   <a class="w3-bar-item w3-button" href="#" target="_blank">Unity 3D Course</a>
  
  </div>
 </div>
 <br class="hidesm">
</nav>



<main>
    <div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Log in
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter username">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Forgot Password?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
</main>


<footer style="background-color: #2090DB; color: white;text-align: center;" class=" py-6">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3">&copy; 2017–2021 Licensed Product</small>
    </div>
  </div>
</footer>

<!-- END MAIN -->
</div>


<!-- ===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
  <script src="js/main.js"></script>
  
  <script src="js/custom.js"></script>

<script src="js/adconsent.js"></script>
<script src="js/my-learning.js"></script>
<script src="js/snhb-loader.min.js"></script>
<script src="js/w3codecolor.js"></script>
</body>
</html>
