<!DOCTYPE html>
<html lang="en-US">


<head>
<title>ELearning Platform</title>
<link rel="icon" href="../../favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../css/styles.css">
<link rel="stylesheet" href="../../css/custom.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<script src="../../js/font.js"></script>
<!-- end cmp -->
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../css/util.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>


<body style="position:relative;min-height:100%;">

<header>

    <div class='w3-container top' style="padding-top:20px;">
        <a class='w3schools-logo notranslate' style="position:absolute;" href='../../index.html'>Elearning<span class='dotcom'>.org</span></a>
      
        <!-- <div id="loginactioncontainer" class='w3-right' style='width:80px;height:50px;'>
          <div id="mypagediv"></div> 
            <a id="w3loginbtn" style="border: medium none; display: inline; cursor: pointer; background-color: #2090db;" class="login w3-right w3-hover-greener" href="../../login.html" target="_self">LOG IN</a>
        </div> -->
      
        <div id="theworldsgreatest" class='w3-right w3-hide-medium w3-hide-small w3-wide toptext' style="line-height: 50px;margin-right:20px;font-family:'Segoe UI',Arial,sans-serif">
          THE WORLD'S LARGEST ONLINE LEARNING PLATFORM
        </div>
      
      </div>
      
      
      <div class="w3-bar w3-theme w3-card-2 w3-wide notranslate">
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 hidesm" href="javascript:void(0)" onclick="w3_open()"><i class='fa'>&#xf0c9;</i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('tutorials')" id="navbtn_tutorials">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('references')" id="navbtn_references">CORE SUBJECTS <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('examples')" id="navbtn_examples">QUIZ <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16 w3-hide-medium w3-hide-small" href="javascript:void(0)" onclick="w3_open_nav('exercises')" id="navbtn_exercises">ONLINE COURSES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="../../quiz.html" title='quiz'>QUIZ</a>
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="#" title='oc'>ONLINE COURSES</a>
 
       <div class="w3-right">
        
        <!-- <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="../../signup.html" title='signup'>Sign Up</a> -->
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="../../about.html" title='About'>About</a>
        
       </div>
      </div>
      
      
       <div id='myAccordion' class="w3-card-2 w3-light-grey w3-center w3-hide-large" style="display:none;cursor:default"> 
       <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-xlarge w3-right">&times;</a><br>
       <div class="w3-container w3-padding-32">
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('tutorials');" href="javascript:void(0);">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_tutorials" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('references')" href="javascript:void(0);">CORE SUBJECTS <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_references" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="../../quiz.html">QUIZ</i></a>
        <div id="sectionxs_examples" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="#">ONLINE COURSES</i></a>
        <div id="sectionxs_exercises" class="w3-white w3-show"></div>
        
       </div>
      </div> 
      
      <nav id="nav_tutorials" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('tutorials')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML5 and CSS3</h3>
          <a class="w3-bar-item w3-button" href="../HTML/a.html">HTML - Attributes</a>
          <a class="w3-bar-item w3-button" href="../HTML/b.html">HTML - Frames</a>
          <a class="w3-bar-item w3-button" href="../HTML/c.html">HTML - Forms</a>
          <a class="w3-bar-item w3-button" href="../HTML/d.html">HTML - Embed Media</a>
          <a class="w3-bar-item w3-button" href="../HTML/e.html">HTML - Layouts</a>
          <a class="w3-bar-item w3-button" href="../CSS/a.html">CSS - Visibility</a>
          <a class="w3-bar-item w3-button" href="../CSS/b.html">CSS - Positioning</a>
          <a class="w3-bar-item w3-button" href="../CSS/c.html">CSS - Padding</a>
          <a class="w3-bar-item w3-button" href="../CSS/d.html">CSS - Layers</a>
          <a class="w3-bar-item w3-button" href="../CSS/e.html">CSS - Animation</a> 
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">JavaScript</h3>
         <a class="w3-bar-item w3-button" href="../JavaScript/a.html">JavaScript - Objects</a>
         <a class="w3-bar-item w3-button" href="../JavaScript/b.html">JavaScript - Strings</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/c.html'>JavaScript - Math</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/d.html'>JavaScript - Arrays</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/e.html'>JavaScript - Error Handling</a>
         
        </div> 
       <div class="w3-col l3 m6">
          <h3 class="w3-margin-top">Python</h3>
          <a class="w3-bar-item w3-button" href="../Python/a.html">Python - Variables</a>
          <a class="w3-bar-item w3-button" href="../Python/b.html">Python - Strings</a>
          <a class="w3-bar-item w3-button" href="../Python/c.html">Python - Lists</a>
          <a class="w3-bar-item w3-button" href="../Python/d.html">Python - Tuples</a>
          <a class="w3-bar-item w3-button" href="../Python/e.html">Python - Dictionary</a>
          <a class="w3-bar-item w3-button" href="../Python/f.html">Python - Exceptions</a>
          
         
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
           
         <h3 class="w3-margin-top">Artificial Intelligence</h3>
          <a class="w3-bar-item w3-button" href="../AI/a.html"> AI Overview</a>
          <a class="w3-bar-item w3-button" href="../AI/b.html"> NLP</a>
          <a class="w3-bar-item w3-button" href="../AI/c.html"> Robotics</a> 
          <a class="w3-bar-item w3-button" href="../AI/d.html"> Neural Networks</a> 
          <a class="w3-bar-item w3-button" href="../AI/e.html"> Expert Systems</a> 
           
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_references" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('references')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Data Structure & Algorithms</h3>
          <a class="w3-bar-item w3-button" href="../DSA/a.html">Greedy Algorithms</a>
          <a class="w3-bar-item w3-button" href="../DSA/b.html">Divide and Conquer</a>
          <a class="w3-bar-item w3-button" href="../DSA/c.html">Dynamic Programming</a>
          <a class="w3-bar-item w3-button" href='../DSA/d.html'>Linked List</a>
          <a class="w3-bar-item w3-button" href="../DSA/e.html">Stack</a>
          <a class="w3-bar-item w3-button" href="../DSA/f.html">Queue</a>
         
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Database</h3>
          <a class="w3-bar-item w3-button" href="../Database/a.html"> Architecture</a>
          <a class="w3-bar-item w3-button" href='../Database/b.html'> ER Model</a>
          <a class="w3-bar-item w3-button" href="../Database/c.html"> Indexing</a>
          <a class="w3-bar-item w3-button" href='../Database/d.html'> Hashing</a>
          <a class="w3-bar-item w3-button" href='../Database/e.html'> Deadlock</a>
        
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Computer Networks</h3>
          <a class="w3-bar-item w3-button" href='../Network/a.html'> Network Types</a>
          <a class="w3-bar-item w3-button" href='../Network/b.html'> Topologies</a>
          <a class="w3-bar-item w3-button" href='../Network/c.html'> Physical Layer</a>
          <a class="w3-bar-item w3-button" href='../Network/d.html'> Data Link Layer</a>
          <a class="w3-bar-item w3-button" href='../Network/e.html'> Network Layer</a>
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Operating System</h3>
          <a class="w3-bar-item w3-button" href='../OS/a.html'> OS Types</a>
          <a class="w3-bar-item w3-button" href='../OS/b.html'> Processes</a>
          <a class="w3-bar-item w3-button" href='../OS/c.html'> Memory Management</a>
          <a class="w3-bar-item w3-button" href='../OS/d.html'> Virtual Memory</a>
          <a class="w3-bar-item w3-button" href='../OS/e.html'> File System</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_examples" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('examples')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML and CSS</h3>
         <a class="w3-bar-item w3-button" href='#'>HTML Quiz</a>
         <a class="w3-bar-item w3-button" href='#'>CSS Quiz</a>
         
        </div>
        <div class="w3-col l3 m6">
        
         <h3 class="w3-margin-top">Programming</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Python Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">JavaScript Quiz</a>
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Core Subjects</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Data Structure Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Algorithms Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Database Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Operating System Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Computer Network Quiz</a>
       
        
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
         <h3 class="w3-margin-top">Advanced Technology</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">AI Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">NLP Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Robotics Quiz</a>
        </div>
      </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_exercises" class="w3-light-grey w3-card-2 w3-hide-small w3-hide-medium navex">
       <span onclick="w3_close_nav('exercises')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Web Development</h3>
         <a class="w3-bar-item w3-button" href="#">HTML Course</a>
         <a class="w3-bar-item w3-button" href="#">CSS Course</a>
         <a class="w3-bar-item w3-button" href="#">JavaScript Course</a>
         <a class="w3-bar-item w3-button" href="#">SQL Course</a>
         <a class="w3-bar-item w3-button" href="#">Python Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Mobile Development</h3>
         <a class="w3-bar-item w3-button" href="#">React Native Course</a>
         <a class="w3-bar-item w3-button" href="#">Flutter Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Game Development</h3>
         <a class="w3-bar-item w3-button" href="#">C# Course</a>
         <a class="w3-bar-item w3-button" href="#">C++ Course</a>
         <a class="w3-bar-item w3-button" href="#">Unity 3D Course</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav>



</header>



<!-- MAIN -->

<main class="container">
    <h1 class="jumbotron">Computer Network - Physical Layer </h1>
    <br>
    <hr>

    <p>Physical layer in the OSI model plays the role of interacting with actual hardware and signaling mechanism.  Physical layer is the only layer of OSI network model which actually deals with the physical connectivity of two different stations.  This layer defines the hardware equipment, cabling, wiring, frequencies, pulses used to represent binary signals etc.</p>
    <p>Physical layer provides its services to Data-link layer.  Data-link layer hands over frames to physical layer. Physical layer converts them to electrical pulses, which represent binary data.The binary data is then sent over the wired or wireless media.</p>
    <br>
    <h2>Signals</h2>
    <br>
    <p>When data is sent over physical medium, it needs to be first converted into electromagnetic signals.  Data itself can be analog such as human voice, or digital such as file on the disk.Both analog and digital data can be represented in digital or analog signals.</p>
    <ul class="list">
    <li><p><b>Digital Signals</b></p>
    <p>Digital signals are discrete in nature and represent sequence of voltage pulses.  Digital signals are used within the circuitry of a computer system.</p></li>
    <li><p><b>Analog Signals </b></p>
    <p>Analog signals are in continuous wave form in nature and represented by continuous electromagnetic waves.</p></li>
    </ul>
    <br>
    <h2>Transmission Impairment</h2>
    <br>
    <p>When signals travel through the medium they tend to deteriorate.  This may have many reasons as given:</p>
    <ul class="list">
    <li><p><b>Attenuation</b></p>
    <p>For the receiver to interpret the data accurately, the signal must be sufficiently strong.When the signal passes through the medium, it tends to get weaker.As it covers distance, it loses strength.</p></li>
    <li><p><b>Dispersion</b></p>
    <p>As signal travels through the media, it tends to spread and overlaps.  The amount of dispersion depends upon the frequency used.</p></li>
    <li><p><b>Delay distortion</b></p>
    <p>Signals are sent over media with pre-defined speed and frequency.  If the signal speed and frequency do not match, there are possibilities that signal reaches destination in arbitrary fashion.  In digital media, this is very critical that some bits reach earlier than the previously sent ones.</p></li>
    <li><p><b>Noise</b></p>
    <p>Random disturbance or fluctuation in analog or digital signal is said to be Noise in signal, which may distort the actual information being carried.  Noise can be characterized in one of the following class:</p>
      <ul class="list">
      <li><p><b>Thermal Noise</b></p>
      <p>Heat agitates the electronic conductors of a medium which may introduce noise in the media.  Up to a certain level, thermal noise is unavoidable.</p></li>
      <li><p><b>Intermodulation</b></p>
      <p>When multiple frequencies share a medium, their interference can cause noise in the medium.  Intermodulation noise occurs if two different frequencies are sharing a medium and one of them has excessive strength or the component itself is not functioning properly, then the resultant frequency may not be delivered as expected.</p></li>
      <li><p><b>Crosstalk</b></p>
      <p>This sort of noise happens when a foreign signal enters into the media.  This is because signal in one medium affects the signal of second medium.</p></li>
      <li><p><b>Impulse</b></p>
      <p>This noise is introduced because of irregular disturbances such as lightening, electricity, short-circuit, or faulty components.  Digital data is mostly affected by this sort of noise.</p></li>
      </ul></li>
    </ul>
    <br>
    <h2>Transmission Media</h2>
    <br>
    <p>The media over which the information between two computer systems is sent, called transmission media.  Transmission media comes in two forms.</p>
    <ul class="list">
    <li><p><b>Guided Media</b></p>
    <p>All communication wires/cables are guided media, such as UTP, coaxial cables, and fiber Optics.  In this media, the sender and receiver are directly connected and the information is send (guided) through it.</p></li>
    <li><p><b>Unguided Media</b></p>
    <p>Wireless or open air space is said to be unguided media, because there is no connectivity between the sender and receiver.  Information is spread over the air, and anyone including the actual recipient may collect the information.</p></li>
    </ul>
    <br>
    <h2>Channel Capacity</h2>
    <br>
    <p>The speed of transmission of information is said to be the channel capacity.  We count it as data rate in digital world.  It depends on numerous factors such as:</p>
    <ul class="list">
    <li><p><b>Bandwidth:</b>&nbsp; The physical limitation of underlying media.</p></li>
    <li><p><b>Error-rate:</b>&nbsp; Incorrect reception of information because of noise.</p></li>
    <li><p><b>Encoding:</b>&nbsp; The number of levels used for signaling.</p></li>
    </ul>
    <br>
    <h2>Multiplexing</h2>
    <br>
    <p>Multiplexing is a technique to mix and send multiple data streams over a single medium.  This technique requires system hardware called multiplexer (MUX) for multiplexing the streams and sending them on a medium, and de-multiplexer (DMUX) which takes information from the medium and distributes to different destinations.</p>
    <br>
    <h2>Switching</h2>
    <br>
    <p>Switching is a mechanism by which data/information sent from source towards destination which are not directly connected.  Networks have interconnecting devices, which receives data from directly connected sources, stores data, analyze it and then forwards to the next interconnecting device closest to the destination.</p>
    <!-- <p>Switching can be categorized as:</p> -->
    <!-- <img src="/data_communication_computer_network/images/switching.jpg" alt="Switching"/> -->


 
</main>

<footer style="background-color: #2090DB; color: white;text-align: center;" class=" py-6">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3">&copy; 2017–2021 Licensed Product</small>
    </div>
  </div>
</footer>


<section>

<!-- ===============================================================================================-->
    <script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="../../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/bootstrap/js/popper.js"></script>
	<script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/daterangepicker/moment.min.js"></script>
	<script src="../../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="../../js/main.js"></script>
  
    <script src="../../js/custom.js"></script>

    <script src="../../js/adconsent.js"></script>
    <script src="../../js/my-learning.js"></script>
    <script src="../../js/snhb-loader.min.js"></script>
    <script src="../../js/w3codecolor.js"></script>

</section>

</body>
</html>