<!DOCTYPE html>
<html lang="en-US">


<head>
<title>ELearning Platform</title>
<link rel="icon" href="../../favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../css/styles.css">
<link rel="stylesheet" href="../../css/custom.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<script src="../../js/font.js"></script>
<!-- end cmp -->
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../css/util.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>


<body style="position:relative;min-height:100%;">

  <header>


    <div class='w3-container top' style="padding-top:20px;">
        <a class='w3schools-logo notranslate' style="position:absolute;" href='/'>Elearning<span class='dotcom'>.org</span></a>
      
        <!-- <div id="loginactioncontainer" class='w3-right' style='width:80px;height:50px;'>
          <div id="mypagediv"></div> 
            <a id="w3loginbtn" style="border: medium none; display: inline; cursor: pointer; background-color: #2090db;" class="login w3-right w3-hover-greener" href="./login.html" target="_self">LOG IN</a>
        </div> -->
      
        <div id="theworldsgreatest" class='w3-right w3-hide-medium w3-hide-small w3-wide toptext' style="line-height: 50px;margin-right:20px;font-family:'Segoe UI',Arial,sans-serif">
          THE WORLD'S LARGEST ONLINE LEARNING PLATFORM
        </div>
      
      </div>
      
      
      <div class="w3-bar w3-theme w3-card-2 w3-wide notranslate">
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 hidesm" href="javascript:void(0)" onclick="w3_open()"><i class='fa'>&#xf0c9;</i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('tutorials')" id="navbtn_tutorials">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('references')" id="navbtn_references">CORE SUBJECTS <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('examples')" id="navbtn_examples">QUIZ <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16 w3-hide-medium w3-hide-small" href="javascript:void(0)" onclick="w3_open_nav('exercises')" id="navbtn_exercises">ONLINE COURSES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="/quiz" title='quiz'>QUIZ</a>
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="/landing" title='oc'>ONLINE COURSES</a>
      
       <div class="w3-right">
        
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="/about" title='About'>About</a>
        
       </div>
      </div>
       
       <div id='myAccordion' class="w3-card-2 w3-light-grey w3-center w3-hide-large" style="display:none;cursor:default"> 
       <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-xlarge w3-right">&times;</a><br>
       <div class="w3-container w3-padding-32">
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('tutorials');" href="javascript:void(0);">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_tutorials" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('references')" href="javascript:void(0);">CORE SUBJECTS <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_references" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="/quiz">QUIZ</i></a>
        <div id="sectionxs_examples" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="/landing">ONLINE COURSES</i></a>
        <div id="sectionxs_exercises" class="w3-white w3-show"></div>
              
        
       </div>
      </div> 
      
      <nav id="nav_tutorials" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('tutorials')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML5 and CSS3</h3>
          <a class="w3-bar-item w3-button" href="/51">HTML - Attributes</a>
          <a class="w3-bar-item w3-button" href="/52">HTML - Frames</a>
          <a class="w3-bar-item w3-button" href="/53">HTML - Forms</a>
          <a class="w3-bar-item w3-button" href="/54">HTML - Embed Media</a>
          <a class="w3-bar-item w3-button" href="/55">HTML - Layouts</a>
          <a class="w3-bar-item w3-button" href="/21">CSS - Visibility</a>
          <a class="w3-bar-item w3-button" href="/22">CSS - Positioning</a>
          <a class="w3-bar-item w3-button" href="/23">CSS - Padding</a>
          <a class="w3-bar-item w3-button" href="/24">CSS - Layers</a>
          <a class="w3-bar-item w3-button" href="/25">CSS - Animation</a> 
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">JavaScript</h3>
         <a class="w3-bar-item w3-button" href="61">JavaScript - Objects</a>
         <a class="w3-bar-item w3-button" href="62">JavaScript - Strings</a>
         <a class="w3-bar-item w3-button" href='63'>JavaScript - Math</a>
         <a class="w3-bar-item w3-button" href='64'>JavaScript - Arrays</a>
         <a class="w3-bar-item w3-button" href='65'>JavaScript - Error Handling</a>
         
        </div> 
       <div class="w3-col l3 m6">
          <h3 class="w3-margin-top">Python</h3>
          <a class="w3-bar-item w3-button" href="/91">Python - Variables</a>
          <a class="w3-bar-item w3-button" href="/92">Python - Strings</a>
          <a class="w3-bar-item w3-button" href="/93">Python - Lists</a>
          <a class="w3-bar-item w3-button" href="/94">Python - Tuples</a>
          <a class="w3-bar-item w3-button" href="/95">Python - Dictionary</a>
          <a class="w3-bar-item w3-button" href="/96">Python - Exceptions</a>
          
         
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
           
         <h3 class="w3-margin-top">Artificial Intelligence</h3>
          <a class="w3-bar-item w3-button" href="/11"> AI Overview</a>
          <a class="w3-bar-item w3-button" href="/12"> NLP</a>
          <a class="w3-bar-item w3-button" href="/13"> Robotics</a> 
          <a class="w3-bar-item w3-button" href="/14"> Neural Networks</a> 
          <a class="w3-bar-item w3-button" href="/15"> Expert Systems</a> 
           
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_references" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('references')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Data Structure & Algorithms</h3>
          <a class="w3-bar-item w3-button" href="/41">Greedy Algorithms</a>
          <a class="w3-bar-item w3-button" href="/42">Divide and Conquer</a>
          <a class="w3-bar-item w3-button" href="/43">Dynamic Programming</a>
          <a class="w3-bar-item w3-button" href='/44'>Linked List</a>
          <a class="w3-bar-item w3-button" href="/45">Stack</a>
          <a class="w3-bar-item w3-button" href="/46">Queue</a>
         
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Database</h3>
          <a class="w3-bar-item w3-button" href="/31"> Architecture</a>
          <a class="w3-bar-item w3-button" href='/32'> ER Model</a>
          <a class="w3-bar-item w3-button" href="/33"> Indexing</a>
          <a class="w3-bar-item w3-button" href='/34'> Hashing</a>
          <a class="w3-bar-item w3-button" href='/35'> Deadlock</a>
        
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Computer Networks</h3>
          <a class="w3-bar-item w3-button" href='/71'> Network Types</a>
          <a class="w3-bar-item w3-button" href='/72'> Topologies</a>
          <a class="w3-bar-item w3-button" href='/73'> Physical Layer</a>
          <a class="w3-bar-item w3-button" href='/74'> Data Link Layer</a>
          <a class="w3-bar-item w3-button" href='/75'> Network Layer</a>
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Operating System</h3>
          <a class="w3-bar-item w3-button" href='/81'> OS Types</a>
          <a class="w3-bar-item w3-button" href='/82'> Processes</a>
          <a class="w3-bar-item w3-button" href='/83'> Memory Management</a>
          <a class="w3-bar-item w3-button" href='/84'> Virtual Memory</a>
          <a class="w3-bar-item w3-button" href='/85'> File System</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
       <nav id="nav_examples" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('examples')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML and CSS</h3>
         <a class="w3-bar-item w3-button" href='#'>HTML Quiz</a>
         <a class="w3-bar-item w3-button" href='#'>CSS Quiz</a>
         
        </div>
        <div class="w3-col l3 m6">
        
         <h3 class="w3-margin-top">Programming</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Python Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">JavaScript Quiz</a>
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Core Subjects</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Data Structure Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Algorithms Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Database Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Operating System Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Computer Network Quiz</a>
       
        
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
         <h3 class="w3-margin-top">Advanced Technology</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">AI Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">NLP Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Robotics Quiz</a>
        </div>
      </div>
       <br class="hidesm">
      </nav> 
      
      
       <nav id="nav_exercises" class="w3-light-grey w3-card-2 w3-hide-small w3-hide-medium navex">
       <span onclick="w3_close_nav('exercises')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Web Development</h3>
         <a class="w3-bar-item w3-button" href="#">HTML Course</a>
         <a class="w3-bar-item w3-button" href="#">CSS Course</a>
         <a class="w3-bar-item w3-button" href="#">JavaScript Course</a>
         <a class="w3-bar-item w3-button" href="#">SQL Course</a>
         <a class="w3-bar-item w3-button" href="#">Python Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Mobile Development</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">React Native Course</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Flutter Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Game Development</h3>
         <a class="w3-bar-item w3-button" href="#" target="_blank">C# Course</a>
         <a class="w3-bar-item w3-button" href="#" target="_blank">C++ Course</a>
         <a class="w3-bar-item w3-button" href="#" target="_blank">Unity 3D Course</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav> 
    
    </header>



<!-- MAIN -->

<main class="container">
    <h1 class="jumbotron">DBMS - Hashing</h1>
    <br>
    <hr>

<p>For a huge database structure, it can be almost next to impossible to search all the index values through all its level and then reach the destination data block to retrieve the desired data. Hashing is an effective technique to calculate the direct location of a data record on the disk without using index structure.</p>
<p>Hashing uses hash functions with search keys as parameters to generate the address of a data record.</p>
<br>
<h2>Hash Organization</h2>
<br>
<ul class="list">
<li><p><b>Bucket</b> &minus; A hash file stores data in bucket format. Bucket is considered a unit of storage. A bucket typically stores one complete disk block, which in turn can store one or more records.</p></li>
<li><p><b>Hash Function</b> &minus; A hash function, <b>h,</b> is a mapping function that maps all the set of search-keys <b>K</b> to the address where actual records are placed. It is a function from search keys to bucket addresses.</p></li>
</ul>
<br>
<h2>Static Hashing</h2>
<br>
<p>In static hashing, when a search-key value is provided, the hash function always computes the same address. For example, if mod-4 hash function is used, then it shall generate only 5 values. The output address shall always be same for that function. The number of buckets provided remains unchanged at all times.</p>
<!-- <img src="/dbms/images/static_hash.png" alt="Static Hashing" /> -->
<br>
<h3>Operation</h3>
<br>
<ul class="list">
<li><p><b>Insertion</b> &minus; When a record is required to be entered using static hash, the hash function <b>h</b> computes the bucket address for search key <b>K</b>, where the record will be stored.</p>
<p>Bucket address = h(K)</p></li>
<li><p><b>Search</b> &minus; When a record needs to be retrieved, the same hash function can be used to retrieve the address of the bucket where the data is stored.</p></li>
<li><p><b>Delete</b> &minus; This is simply a search followed by a deletion operation.</p></li>
</ul>
<br>
<h2>Bucket Overflow</h2>
<br>
<p>The condition of bucket-overflow is known as <b>collision</b>. This is a fatal state for any static hash function. In this case, overflow chaining can be used.</p>
<ul class="list">
<li><p><b>Overflow Chaining</b> &minus; When buckets are full, a new bucket is allocated for the same hash result and is linked after the previous one. This mechanism is called <b>Closed Hashing</b>.</p></li>
</ul>
<!-- <img src="/dbms/images/hash_chaining.png" alt="Overflow chaining" /> -->
<ul class="list">
<li><p><b>Linear Probing</b> &minus; When a hash function generates an address at which data is already stored, the next free bucket is allocated to it. This mechanism is called <b>Open Hashing</b>.</p></li>
</ul>
<!-- <img src="/dbms/images/hash_linear_probing.png" alt="Linear Probing" /> -->
<br>
<h2>Dynamic Hashing</h2>
<br>
<p>The problem with static hashing is that it does not expand or shrink dynamically as the size of the database grows or shrinks. Dynamic hashing provides a mechanism in which data buckets are added and removed dynamically and on-demand. Dynamic hashing is also known as <b>extended hashing</b>.</p>
<p>Hash function, in dynamic hashing, is made to produce a large number of values and only a few are used initially.</p>
<!-- <img src="/dbms/images/dynamic_hashing.png" alt="Dynamic Hashing" />  -->
<br>
<h2>Organization</h2>
<br>
<p>The prefix of an entire hash value is taken as a hash index. Only a portion of the hash value is used for computing bucket addresses. Every hash index has a depth value to signify how many bits are used for computing a hash function. These bits can address 2n buckets. When all these bits are consumed &minus; that is, when all the buckets are full &minus; then the depth value is increased linearly and twice the buckets are allocated.</p>
<br>
<h2>Operation</h2>
<br>
<ul class="list">
<li><p><b>Querying</b> &minus; Look at the depth value of the hash index and use those bits to compute the bucket address.</p></li>
<li><p><b>Update</b> &minus; Perform a query as above and update the data.</p></li>
<li><p><b>Deletion</b> &minus; Perform a query to locate the desired data and delete the same.</p></li>
<li><p><b>Insertion</b> &minus; Compute the address of the bucket</p>
<ul class="list">
<li>If the bucket is already full.
<ul class="list">
<li>Add more buckets.</li>
<li>Add additional bits to the hash value.</li>
<li>Re-compute the hash function.</li>
</ul>
</li>
<li>Else
<ul class="list">
<li>Add data to the bucket,</li>
</ul>
</li>
<li>If all the buckets are full, perform the remedies of static hashing.</li>
</ul>
</li>
</ul>
<p>Hashing is not favorable when the data is organized in some ordering and the queries require a range of data. When data is discrete and random, hash performs the best.</p>
<p>Hashing algorithms have high complexity than indexing. All hash operations are done in constant time.</p>

</main>



<footer style="background-color: #2090DB; color: white;text-align: center;" class=" py-6">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3">&copy; 2017–2021 Licensed Product</small>
    </div>
  </div>
</footer>


<section>

<!-- ===============================================================================================-->
    <script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="../../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/bootstrap/js/popper.js"></script>
	<script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/daterangepicker/moment.min.js"></script>
	<script src="../../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="../../js/main.js"></script>
  
    <script src="../../js/custom.js"></script>

    <script src="../../js/adconsent.js"></script>
    <script src="../../js/my-learning.js"></script>
    <script src="../../js/snhb-loader.min.js"></script>
    <script src="../../js/w3codecolor.js"></script>

</section>

</body>
</html>