<!DOCTYPE html>
<html lang="en-US">


<head>
<title>ELearning Platform</title>
<link rel="icon" href="../../favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../css/styles.css">
<link rel="stylesheet" href="../../css/custom.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<script src="../../js/font.js"></script>
<!-- end cmp -->
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../css/util.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>


<body style="position:relative;min-height:100%;">

   <header>


      <div class='w3-container top' style="padding-top:20px;">
          <a class='w3schools-logo notranslate' style="position:absolute;" href='/'>Elearning<span class='dotcom'>.org</span></a>
        
          <!-- <div id="loginactioncontainer" class='w3-right' style='width:80px;height:50px;'>
            <div id="mypagediv"></div> 
              <a id="w3loginbtn" style="border: medium none; display: inline; cursor: pointer; background-color: #2090db;" class="login w3-right w3-hover-greener" href="./login.html" target="_self">LOG IN</a>
          </div> -->
        
          <div id="theworldsgreatest" class='w3-right w3-hide-medium w3-hide-small w3-wide toptext' style="line-height: 50px;margin-right:20px;font-family:'Segoe UI',Arial,sans-serif">
            THE WORLD'S LARGEST ONLINE LEARNING PLATFORM
          </div>
        
        </div>
        
        
        <div class="w3-bar w3-theme w3-card-2 w3-wide notranslate">
         <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 hidesm" href="javascript:void(0)" onclick="w3_open()"><i class='fa'>&#xf0c9;</i></a>
         <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('tutorials')" id="navbtn_tutorials">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
         <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('references')" id="navbtn_references">CORE SUBJECTS <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
         <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('examples')" id="navbtn_examples">QUIZ <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
         <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16 w3-hide-medium w3-hide-small" href="javascript:void(0)" onclick="w3_open_nav('exercises')" id="navbtn_exercises">ONLINE COURSES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
          <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="/quiz" title='quiz'>QUIZ</a>
          <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="/landing" title='oc'>ONLINE COURSES</a>
        
         <div class="w3-right">
          
          <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="/about" title='About'>About</a>
          
         </div>
        </div>
         
         <div id='myAccordion' class="w3-card-2 w3-light-grey w3-center w3-hide-large" style="display:none;cursor:default"> 
         <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-xlarge w3-right">&times;</a><br>
         <div class="w3-container w3-padding-32">
          <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('tutorials');" href="javascript:void(0);">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i></a>
          <div id="sectionxs_tutorials" class="w3-white w3-show"></div>
          <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('references')" href="javascript:void(0);">CORE SUBJECTS <i class='fa fa-caret-down'></i></a>
          <div id="sectionxs_references" class="w3-white w3-show"></div>
          <a class="w3-button w3-block w3-large w3-wide" href="/quiz">QUIZ</i></a>
          <div id="sectionxs_examples" class="w3-white w3-show"></div>
          <a class="w3-button w3-block w3-large w3-wide" href="/landing">ONLINE COURSES</i></a>
          <div id="sectionxs_exercises" class="w3-white w3-show"></div>
                
          
         </div>
        </div> 
        
        <nav id="nav_tutorials" class="w3-light-grey w3-card-2 w3-hide-small navex">
         <span onclick="w3_close_nav('tutorials')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
         <div class="w3-row-padding w3-bar-block">
          <div class="w3-col l3 m6">
           <h3 class="w3-margin-top">HTML5 and CSS3</h3>
            <a class="w3-bar-item w3-button" href="/51">HTML - Attributes</a>
            <a class="w3-bar-item w3-button" href="/52">HTML - Frames</a>
            <a class="w3-bar-item w3-button" href="/53">HTML - Forms</a>
            <a class="w3-bar-item w3-button" href="/54">HTML - Embed Media</a>
            <a class="w3-bar-item w3-button" href="/55">HTML - Layouts</a>
            <a class="w3-bar-item w3-button" href="/21">CSS - Visibility</a>
            <a class="w3-bar-item w3-button" href="/22">CSS - Positioning</a>
            <a class="w3-bar-item w3-button" href="/23">CSS - Padding</a>
            <a class="w3-bar-item w3-button" href="/24">CSS - Layers</a>
            <a class="w3-bar-item w3-button" href="/25">CSS - Animation</a> 
        
          </div>
          <div class="w3-col l3 m6">
           <h3 class="w3-margin-top">JavaScript</h3>
           <a class="w3-bar-item w3-button" href="61">JavaScript - Objects</a>
           <a class="w3-bar-item w3-button" href="62">JavaScript - Strings</a>
           <a class="w3-bar-item w3-button" href='63'>JavaScript - Math</a>
           <a class="w3-bar-item w3-button" href='64'>JavaScript - Arrays</a>
           <a class="w3-bar-item w3-button" href='65'>JavaScript - Error Handling</a>
           
          </div> 
         <div class="w3-col l3 m6">
            <h3 class="w3-margin-top">Python</h3>
            <a class="w3-bar-item w3-button" href="/91">Python - Variables</a>
            <a class="w3-bar-item w3-button" href="/92">Python - Strings</a>
            <a class="w3-bar-item w3-button" href="/93">Python - Lists</a>
            <a class="w3-bar-item w3-button" href="/94">Python - Tuples</a>
            <a class="w3-bar-item w3-button" href="/95">Python - Dictionary</a>
            <a class="w3-bar-item w3-button" href="/96">Python - Exceptions</a>
            
           
          </div>
          <div class="w3-col l3 m6 w3-hide-medium">
             
           <h3 class="w3-margin-top">Artificial Intelligence</h3>
            <a class="w3-bar-item w3-button" href="/11"> AI Overview</a>
            <a class="w3-bar-item w3-button" href="/12"> NLP</a>
            <a class="w3-bar-item w3-button" href="/13"> Robotics</a> 
            <a class="w3-bar-item w3-button" href="/14"> Neural Networks</a> 
            <a class="w3-bar-item w3-button" href="/15"> Expert Systems</a> 
             
          </div>
         </div>
         <br class="hidesm">
        </nav>
        
        <nav id="nav_references" class="w3-light-grey w3-card-2 w3-hide-small navex">
         <span onclick="w3_close_nav('references')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
         <div class="w3-row-padding w3-bar-block">
          <div class="w3-col l3 m6">
           <h3 class="w3-margin-top">Data Structure & Algorithms</h3>
            <a class="w3-bar-item w3-button" href="/41">Greedy Algorithms</a>
            <a class="w3-bar-item w3-button" href="/42">Divide and Conquer</a>
            <a class="w3-bar-item w3-button" href="/43">Dynamic Programming</a>
            <a class="w3-bar-item w3-button" href='/44'>Linked List</a>
            <a class="w3-bar-item w3-button" href="/45">Stack</a>
            <a class="w3-bar-item w3-button" href="/46">Queue</a>
           
          </div>
          <div class="w3-col l3 m6">
           <h3 class="w3-margin-top">Database</h3>
            <a class="w3-bar-item w3-button" href="/31"> Architecture</a>
            <a class="w3-bar-item w3-button" href='/32'> ER Model</a>
            <a class="w3-bar-item w3-button" href="/33"> Indexing</a>
            <a class="w3-bar-item w3-button" href='/34'> Hashing</a>
            <a class="w3-bar-item w3-button" href='/35'> Deadlock</a>
          
          </div>
          <div class="w3-col l3 m6">
           <h3 class="w3-margin-top">Computer Networks</h3>
            <a class="w3-bar-item w3-button" href='/71'> Network Types</a>
            <a class="w3-bar-item w3-button" href='/72'> Topologies</a>
            <a class="w3-bar-item w3-button" href='/73'> Physical Layer</a>
            <a class="w3-bar-item w3-button" href='/74'> Data Link Layer</a>
            <a class="w3-bar-item w3-button" href='/75'> Network Layer</a>
        
          </div>
          <div class="w3-col l3 m6">
           <h3 class="w3-margin-top">Operating System</h3>
            <a class="w3-bar-item w3-button" href='/81'> OS Types</a>
            <a class="w3-bar-item w3-button" href='/82'> Processes</a>
            <a class="w3-bar-item w3-button" href='/83'> Memory Management</a>
            <a class="w3-bar-item w3-button" href='/84'> Virtual Memory</a>
            <a class="w3-bar-item w3-button" href='/85'> File System</a>
          
          </div>
         </div>
         <br class="hidesm">
        </nav>
        
         <nav id="nav_examples" class="w3-light-grey w3-card-2 w3-hide-small navex">
         <span onclick="w3_close_nav('examples')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
         <div class="w3-row-padding w3-bar-block">
          <div class="w3-col l3 m6">
           <h3 class="w3-margin-top">HTML and CSS</h3>
           <a class="w3-bar-item w3-button" href='#'>HTML Quiz</a>
           <a class="w3-bar-item w3-button" href='#'>CSS Quiz</a>
           
          </div>
          <div class="w3-col l3 m6">
          
           <h3 class="w3-margin-top">Programming</h3>
           <a class="w3-bar-item w3-button" href="#" target="_top">Python Quiz</a>
           <a class="w3-bar-item w3-button" href="#" target="_top">JavaScript Quiz</a>
          </div>
          <div class="w3-col l3 m6">
           <h3 class="w3-margin-top">Core Subjects</h3>
           <a class="w3-bar-item w3-button" href="#" target="_top">Data Structure Quiz</a>
           <a class="w3-bar-item w3-button" href="#" target="_top">Algorithms Quiz</a>
           <a class="w3-bar-item w3-button" href="#" target="_top">Database Quiz</a>
           <a class="w3-bar-item w3-button" href="#" target="_top">Operating System Quiz</a>
           <a class="w3-bar-item w3-button" href="#" target="_top">Computer Network Quiz</a>
         
          
          </div>
          <div class="w3-col l3 m6 w3-hide-medium">
           <h3 class="w3-margin-top">Advanced Technology</h3>
           <a class="w3-bar-item w3-button" href="#" target="_top">AI Quiz</a>
           <a class="w3-bar-item w3-button" href="#" target="_top">NLP Quiz</a>
           <a class="w3-bar-item w3-button" href="#" target="_top">Robotics Quiz</a>
          </div>
        </div>
         <br class="hidesm">
        </nav> 
        
        
         <nav id="nav_exercises" class="w3-light-grey w3-card-2 w3-hide-small w3-hide-medium navex">
         <span onclick="w3_close_nav('exercises')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
         <div class="w3-row-padding w3-bar-block">
          <div class="w3-col l4 m12">
           <h3 class="w3-margin-top">Web Development</h3>
           <a class="w3-bar-item w3-button" href="#">HTML Course</a>
           <a class="w3-bar-item w3-button" href="#">CSS Course</a>
           <a class="w3-bar-item w3-button" href="#">JavaScript Course</a>
           <a class="w3-bar-item w3-button" href="#">SQL Course</a>
           <a class="w3-bar-item w3-button" href="#">Python Course</a>
          </div>
          <div class="w3-col l4 m12">
           <h3 class="w3-margin-top">Mobile Development</h3>
           <a class="w3-bar-item w3-button" href="#" target="_top">React Native Course</a>
           <a class="w3-bar-item w3-button" href="#" target="_top">Flutter Course</a>
          </div>
          <div class="w3-col l4 m12">
           <h3 class="w3-margin-top">Game Development</h3>
           <a class="w3-bar-item w3-button" href="#" target="_blank">C# Course</a>
           <a class="w3-bar-item w3-button" href="#" target="_blank">C++ Course</a>
           <a class="w3-bar-item w3-button" href="#" target="_blank">Unity 3D Course</a>
          
          </div>
         </div>
         <br class="hidesm">
        </nav> 
      
      </header>



<!-- MAIN -->

<main class="container">
    <h1 class="jumbotron">HTML - Layouts</h1>
    <br>
    <hr>


<p>A webpage layout is very important to give better look to your website. It takes considerable time to design a website's layout with great look and feel.</p>
<p>Now-a-days, all modern websites are using CSS and JavaScript based framework to come up with responsive and dynamic websites but you can create a good layout using simple HTML tables or division tags in combination with other formatting tags. This chapter will give you few examples on how to create a simple but working layout for your webpage using pure HTML and its attributes.</p>
<br>
<h2>HTML Layout - Using Tables</h2>
<br>
<p>The simplest and most popular way of creating layouts is using HTML &lt;table&gt; tag. These tables are arranged in columns and rows, so you can utilize these rows and columns in whatever way you like.</p>
<br>
<h3>Example</h3>
<br>
<p>For example, the following HTML layout example is achieved using a table with 3 rows and 2 columns but the header and footer column spans both columns using the colspan attribute &minus;</p>
<div class="demo-view">
<!-- <a href="http://tpcg.io/nsACRm" target="_blank" rel="nofollow" class="demo"><i class="fa-external-link"></i> Live Demo</a> -->
</div>
<pre class="prettyprint notranslate">
&lt;!DOCTYPE html&gt;
&lt;html&gt;

   &lt;head&gt;
      &lt;title&gt;HTML Layout using Tables&lt;/title&gt;
   &lt;/head&gt;

   &lt;body&gt;
      &lt;table width = "100%" border = "0"&gt;
         
         &lt;tr&gt;
            &lt;td colspan = "2" bgcolor = "#b5dcb3"&gt;
               &lt;h1&gt;This is Web Page Main title&lt;/h1&gt;
            &lt;/td&gt;
         &lt;/tr&gt;
         &lt;tr valign = "top"&gt;
            &lt;td bgcolor = "#aaa" width = "50"&gt;
               &lt;b&gt;Main Menu&lt;/b&gt;&lt;br /&gt;
               HTML&lt;br /&gt;
               PHP&lt;br /&gt;
               PERL...
            &lt;/td&gt;
            
            &lt;td bgcolor = "#eee" width = "100" height = "200"&gt;
               Technical and Managerial Tutorials
            &lt;/td&gt;
         &lt;/tr&gt;
         &lt;tr&gt;
            &lt;td colspan = "2" bgcolor = "#b5dcb3"&gt;
               &lt;center&gt;
                  Copyright &copy; 2007 Tutorialspoint.com
               &lt;/center&gt;
            &lt;/td&gt;
         &lt;/tr&gt;
         
      &lt;/table&gt;
   &lt;/body&gt;

&lt;/html&gt;
</pre>
<!-- <p>This will produce the following result &minus;</p> -->
<!-- <iframe onLoad="resizeFrame(this)" class="result" src="/html/src/html_layout_using_tables.htm" height="350px"  width="660px"></iframe> -->
<br>
<h2>Multiple Columns Layout - Using Tables</h2>
<br>
<p>You can design your webpage to put your web content in multiple pages. You can keep your content in middle column and you can use left column to use menu and right column can be used to put advertisement or some other stuff. This layout will be very similar to what we have at our website tutorialspoint.com.</p>
<br>
<h3>Example</h3>
<br>
<p>Here is an example to create three column layout &minus;</p>
<div class="demo-view">
<!-- <a href="http://tpcg.io/2dTriq" target="_blank" rel="nofollow" class="demo"><i class="fa-external-link"></i> Live Demo</a> -->
</div>
<pre class="prettyprint notranslate">
&lt;!DOCTYPE html&gt;
&lt;html&gt;

   &lt;head&gt;
      &lt;title&gt;Three Column HTML Layout&lt;/title&gt;
   &lt;/head&gt;

   &lt;body&gt;
      &lt;table width = "100%" border = "0"&gt;
         
         &lt;tr valign = "top"&gt;
            &lt;td bgcolor = "#aaa" width = "20%"&gt;
               &lt;b&gt;Main Menu&lt;/b&gt;&lt;br /&gt;
               HTML&lt;br /&gt;
               PHP&lt;br /&gt;
               PERL...
            &lt;/td&gt;
				
            &lt;td bgcolor = "#b5dcb3" height = "200" width = "60%"&gt;
               Technical and Managerial Tutorials
            &lt;/td&gt;
				
            &lt;td bgcolor = "#aaa" width = "20%"&gt;
               &lt;b&gt;Right Menu&lt;/b&gt;&lt;br /&gt;
               HTML&lt;br /&gt;
               PHP&lt;br /&gt;
               PERL...
            &lt;/td&gt;
         &lt;/tr&gt;
         
      &lt;table&gt;
   &lt;/body&gt;

&lt;/html&gt;
</pre>
<!-- <p>This will produce the following result &minus;</p> -->
<!-- <iframe onLoad="resizeFrame(this)" class="result" src="/html/src/multiple_columns_layout.htm" height="250px"  width="660px"></iframe> -->
<br>
<h2>HTML Layouts - Using DIV, SPAN</h2>
<br>
<p>The &lt;div&gt; element is a block level element used for grouping HTML elements. While the &lt;div&gt; tag is a block-level element, the HTML &lt;span&gt; element is used for grouping elements at an inline level.</p>
<p>Although we can achieve pretty nice layouts with HTML tables, but tables weren't really designed as a layout tool. Tables are more suited to presenting tabular data.</p>
<p><b>Note</b> &minus; This example makes use of Cascading Style Sheet (CSS), so before understanding this example you need to have a better understanding on how CSS works.</p>
<br>
<h3>Example</h3>
<br>
<p>Here we will try to achieve same result using &lt;div&gt; tag along with CSS, whatever you have achieved using &lt;table&gt; tag in previous example.</p>
<div class="demo-view">
<!-- <a href="http://tpcg.io/H9drkJ" target="_blank" rel="nofollow" class="demo"><i class="fa-external-link"></i> Live Demo</a> -->
</div>
<pre class="prettyprint notranslate">
&lt;!DOCTYPE html&gt;
&lt;html&gt;

   &lt;head&gt;
      &lt;title&gt;HTML Layouts using DIV, SPAN&lt;/title&gt;
   &lt;/head&gt;

   &lt;body&gt;
      &lt;div style = "width:100%"&gt;
		
         &lt;div style = "background-color:#b5dcb3; width:100%"&gt;
            &lt;h1&gt;This is Web Page Main title&lt;/h1&gt;
         &lt;/div&gt;
			
         &lt;div style = "background-color:#aaa; height:200px; width:100px; float:left;"&gt;
            &lt;div&gt;&lt;b&gt;Main Menu&lt;/b&gt;&lt;/div&gt;
            HTML&lt;br /&gt;
            PHP&lt;br /&gt;
            PERL...
         &lt;/div&gt;
			
         &lt;div style = "background-color:#eee; height:200px; width:350px; float:left;" &gt;
            &lt;p&gt;Technical and Managerial Tutorials&lt;/p&gt;
         &lt;/div&gt;
		
         &lt;div style = "background-color:#aaa; height:200px; width:100px; float:right;"&gt;
            &lt;div&gt;&lt;b&gt;Right Menu&lt;/b&gt;&lt;/div&gt;
            HTML&lt;br /&gt;
            PHP&lt;br /&gt;
            PERL...
         &lt;/div&gt;
			
         &lt;div style = "background-color:#b5dcb3; clear:both"&gt;
            &lt;center&gt;
               Copyright &copy; 2007 Tutorialspoint.com
            &lt;/center&gt;
         &lt;/div&gt;
			
      &lt;/div&gt;
   &lt;/body&gt;

&lt;/html&gt;
</pre>
<!-- <p>This will produce the following result &minus;</p> -->
<!-- <iframe onLoad="resizeFrame(this)" class="result" src="/html/src/html_using_div_span.htm" height="350px"  width="660px"></iframe> -->
<p>You can create better layout using DIV, SPAN along with CSS. For more information on CSS, please refer to CSS Tutorial.</p>


    
</main>



<footer style="background-color: #2090DB; color: white;text-align: center;" class=" py-6">
   <div class="row">
     <div class="col-12 col-md">
       <small class="d-block mb-3">&copy; 2017–2021 Licensed Product</small>
     </div>
   </div>
 </footer>
 
 
 <section>
 
 <!-- ===============================================================================================-->
     <script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
 <!--===============================================================================================-->
     <script src="../../vendor/animsition/js/animsition.min.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/bootstrap/js/popper.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/select2/select2.min.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/daterangepicker/moment.min.js"></script>
    <script src="../../vendor/daterangepicker/daterangepicker.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/countdowntime/countdowntime.js"></script>
 <!--===============================================================================================-->
     <script src="../../js/main.js"></script>
   
     <script src="../../js/custom.js"></script>
 
     <script src="../../js/adconsent.js"></script>
     <script src="../../js/my-learning.js"></script>
     <script src="../../js/snhb-loader.min.js"></script>
     <script src="../../js/w3codecolor.js"></script>
 
 </section>
 
 </body>
 </html>