<!DOCTYPE html>
<html lang="en-US">


<head>
<title>ELearning Platform</title>
<link rel="icon" href="../../favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../css/styles.css">
<link rel="stylesheet" href="../../css/custom.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<script src="../../js/font.js"></script>
<!-- end cmp -->
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../css/util.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>


<body style="position:relative;min-height:100%;">

  <header>


    <div class='w3-container top' style="padding-top:20px;">
        <a class='w3schools-logo notranslate' style="position:absolute;" href='/'>Elearning<span class='dotcom'>.org</span></a>
      
        <!-- <div id="loginactioncontainer" class='w3-right' style='width:80px;height:50px;'>
          <div id="mypagediv"></div> 
            <a id="w3loginbtn" style="border: medium none; display: inline; cursor: pointer; background-color: #2090db;" class="login w3-right w3-hover-greener" href="./login.html" target="_self">LOG IN</a>
        </div> -->
      
        <div id="theworldsgreatest" class='w3-right w3-hide-medium w3-hide-small w3-wide toptext' style="line-height: 50px;margin-right:20px;font-family:'Segoe UI',Arial,sans-serif">
          THE WORLD'S LARGEST ONLINE LEARNING PLATFORM
        </div>
      
      </div>
      
      
      <div class="w3-bar w3-theme w3-card-2 w3-wide notranslate">
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 hidesm" href="javascript:void(0)" onclick="w3_open()"><i class='fa'>&#xf0c9;</i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('tutorials')" id="navbtn_tutorials">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('references')" id="navbtn_references">CORE SUBJECTS <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('examples')" id="navbtn_examples">QUIZ <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16 w3-hide-medium w3-hide-small" href="javascript:void(0)" onclick="w3_open_nav('exercises')" id="navbtn_exercises">ONLINE COURSES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="/quiz" title='quiz'>QUIZ</a>
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="/landing" title='oc'>ONLINE COURSES</a>
      
       <div class="w3-right">
        
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="/about" title='About'>About</a>
        
       </div>
      </div>
       
       <div id='myAccordion' class="w3-card-2 w3-light-grey w3-center w3-hide-large" style="display:none;cursor:default"> 
       <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-xlarge w3-right">&times;</a><br>
       <div class="w3-container w3-padding-32">
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('tutorials');" href="javascript:void(0);">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_tutorials" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('references')" href="javascript:void(0);">CORE SUBJECTS <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_references" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="/quiz">QUIZ</i></a>
        <div id="sectionxs_examples" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="/landing">ONLINE COURSES</i></a>
        <div id="sectionxs_exercises" class="w3-white w3-show"></div>
              
        
       </div>
      </div> 
      
      <nav id="nav_tutorials" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('tutorials')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML5 and CSS3</h3>
          <a class="w3-bar-item w3-button" href="/51">HTML - Attributes</a>
          <a class="w3-bar-item w3-button" href="/52">HTML - Frames</a>
          <a class="w3-bar-item w3-button" href="/53">HTML - Forms</a>
          <a class="w3-bar-item w3-button" href="/54">HTML - Embed Media</a>
          <a class="w3-bar-item w3-button" href="/55">HTML - Layouts</a>
          <a class="w3-bar-item w3-button" href="/21">CSS - Visibility</a>
          <a class="w3-bar-item w3-button" href="/22">CSS - Positioning</a>
          <a class="w3-bar-item w3-button" href="/23">CSS - Padding</a>
          <a class="w3-bar-item w3-button" href="/24">CSS - Layers</a>
          <a class="w3-bar-item w3-button" href="/25">CSS - Animation</a> 
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">JavaScript</h3>
         <a class="w3-bar-item w3-button" href="61">JavaScript - Objects</a>
         <a class="w3-bar-item w3-button" href="62">JavaScript - Strings</a>
         <a class="w3-bar-item w3-button" href='63'>JavaScript - Math</a>
         <a class="w3-bar-item w3-button" href='64'>JavaScript - Arrays</a>
         <a class="w3-bar-item w3-button" href='65'>JavaScript - Error Handling</a>
         
        </div> 
       <div class="w3-col l3 m6">
          <h3 class="w3-margin-top">Python</h3>
          <a class="w3-bar-item w3-button" href="/91">Python - Variables</a>
          <a class="w3-bar-item w3-button" href="/92">Python - Strings</a>
          <a class="w3-bar-item w3-button" href="/93">Python - Lists</a>
          <a class="w3-bar-item w3-button" href="/94">Python - Tuples</a>
          <a class="w3-bar-item w3-button" href="/95">Python - Dictionary</a>
          <a class="w3-bar-item w3-button" href="/96">Python - Exceptions</a>
          
         
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
           
         <h3 class="w3-margin-top">Artificial Intelligence</h3>
          <a class="w3-bar-item w3-button" href="/11"> AI Overview</a>
          <a class="w3-bar-item w3-button" href="/12"> NLP</a>
          <a class="w3-bar-item w3-button" href="/13"> Robotics</a> 
          <a class="w3-bar-item w3-button" href="/14"> Neural Networks</a> 
          <a class="w3-bar-item w3-button" href="/15"> Expert Systems</a> 
           
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_references" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('references')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Data Structure & Algorithms</h3>
          <a class="w3-bar-item w3-button" href="/41">Greedy Algorithms</a>
          <a class="w3-bar-item w3-button" href="/42">Divide and Conquer</a>
          <a class="w3-bar-item w3-button" href="/43">Dynamic Programming</a>
          <a class="w3-bar-item w3-button" href='/44'>Linked List</a>
          <a class="w3-bar-item w3-button" href="/45">Stack</a>
          <a class="w3-bar-item w3-button" href="/46">Queue</a>
         
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Database</h3>
          <a class="w3-bar-item w3-button" href="/31"> Architecture</a>
          <a class="w3-bar-item w3-button" href='/32'> ER Model</a>
          <a class="w3-bar-item w3-button" href="/33"> Indexing</a>
          <a class="w3-bar-item w3-button" href='/34'> Hashing</a>
          <a class="w3-bar-item w3-button" href='/35'> Deadlock</a>
        
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Computer Networks</h3>
          <a class="w3-bar-item w3-button" href='/71'> Network Types</a>
          <a class="w3-bar-item w3-button" href='/72'> Topologies</a>
          <a class="w3-bar-item w3-button" href='/73'> Physical Layer</a>
          <a class="w3-bar-item w3-button" href='/74'> Data Link Layer</a>
          <a class="w3-bar-item w3-button" href='/75'> Network Layer</a>
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Operating System</h3>
          <a class="w3-bar-item w3-button" href='/81'> OS Types</a>
          <a class="w3-bar-item w3-button" href='/82'> Processes</a>
          <a class="w3-bar-item w3-button" href='/83'> Memory Management</a>
          <a class="w3-bar-item w3-button" href='/84'> Virtual Memory</a>
          <a class="w3-bar-item w3-button" href='/85'> File System</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
       <nav id="nav_examples" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('examples')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML and CSS</h3>
         <a class="w3-bar-item w3-button" href='#'>HTML Quiz</a>
         <a class="w3-bar-item w3-button" href='#'>CSS Quiz</a>
         
        </div>
        <div class="w3-col l3 m6">
        
         <h3 class="w3-margin-top">Programming</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Python Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">JavaScript Quiz</a>
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Core Subjects</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Data Structure Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Algorithms Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Database Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Operating System Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Computer Network Quiz</a>
       
        
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
         <h3 class="w3-margin-top">Advanced Technology</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">AI Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">NLP Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Robotics Quiz</a>
        </div>
      </div>
       <br class="hidesm">
      </nav> 
      
      
       <nav id="nav_exercises" class="w3-light-grey w3-card-2 w3-hide-small w3-hide-medium navex">
       <span onclick="w3_close_nav('exercises')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Web Development</h3>
         <a class="w3-bar-item w3-button" href="#">HTML Course</a>
         <a class="w3-bar-item w3-button" href="#">CSS Course</a>
         <a class="w3-bar-item w3-button" href="#">JavaScript Course</a>
         <a class="w3-bar-item w3-button" href="#">SQL Course</a>
         <a class="w3-bar-item w3-button" href="#">Python Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Mobile Development</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">React Native Course</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Flutter Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Game Development</h3>
         <a class="w3-bar-item w3-button" href="#" target="_blank">C# Course</a>
         <a class="w3-bar-item w3-button" href="#" target="_blank">C++ Course</a>
         <a class="w3-bar-item w3-button" href="#" target="_blank">Unity 3D Course</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav> 
    
    </header>


<!-- MAIN -->

<main class="container">
    <h1 class="jumbotron">Operating System - Processes</h1>
    <br>
    <hr>

    <h2>Process</h2>
    <br>
    <p>A process is basically a program in execution. The execution of a process must progress in a sequential fashion.</p>
    <blockquote>A process is defined as an entity which represents the basic unit of work to be implemented in the system.</blockquote>
    <p>To put it in simple terms, we write our computer programs in a text file and when we execute this program, it becomes a process which performs all the tasks mentioned in the program.</p>
    <p>When a program is loaded into the memory and it becomes a process, it can be divided into four sections ─ stack, heap, text and data. The following image shows a simplified layout of a process inside main memory &minus;</p>
    <!-- <img src="/operating_system/images/process_components.jpg" alt="Process Components"/> -->
    <table class="table table-bordered">
    <tr>
    <th style="width:5%;">S.N.</th>
    <th style="text-align:center">Component &amp; Description</th>
    </tr>
    <tr>
    <td>1</td>
    <td><p><b>Stack</b></p>
    <p>The process Stack contains the temporary data such as method/function parameters, return address and local variables.</p>
    </td>
    </tr>
    <tr>
    <td>2</td>
    <td><p><b>Heap</b></p>
    <p>This is dynamically allocated memory to a process during its run time.</p>
    </td>
    </tr>
    <tr>
    <td>3</td>
    <td><p><b>Text</b></p>
    <p>This includes the current activity represented by the value of Program Counter and the contents of the processor's registers.</p>
    </td>
    </tr>
    <tr>
    <td>4</td>
    <td><p><b>Data</b></p>
    <p>This section contains the global and static variables.</p>
    </td>
    </tr>
    </table>
    <br>
    <h2>Program</h2>
    <br>
    <p>A program is a piece of code which may be a single line or millions of lines. A computer program is usually written by a computer programmer in a programming language. For example, here is a simple program written in C programming language &minus;</p>
    <pre class="prettyprint notranslate">
    #include &lt;stdio.h&gt;
    
    int main() {
       printf("Hello, World! \n");
       return 0;
    }
    </pre>
    <p>A computer program is a collection of instructions that performs a specific task when executed by a computer. When we compare a program with a process, we can conclude that a process is a dynamic instance of a computer program.</p>
    <p>A part of a computer program that performs a well-defined task is known as an <b>algorithm</b>. A collection of computer programs, libraries and related data are referred to as a <b>software</b>.</p>
    <br>
    <h2>Process Life Cycle</h2>
    <br>
    <p> When a process executes, it passes through different states. These stages may differ in different operating systems, and the names of these states are also not standardized.</p>
    <p>In general, a process can have one of the following five states at a time.</p>
    <table class="table table-bordered">
    <tr>
    <th style="width:5%;">S.N.</th>
    <th style="text-align:center">State &amp; Description</th>
    </tr>
    <tr>
    <td>1</td>
    <td>
    <p><b>Start</b></p>
    <p>This is the initial state when a process is first started/created.</p>
    </td>
    </tr>
    <tr>
    <td>2</td>
    <td>
    <p><b>Ready</b></p>
    <p>The process is waiting to be assigned to a processor. Ready processes are waiting to have the processor allocated to them by the operating system so that they can run. Process may come into this state after <b>Start</b> state or while running it by but interrupted by the scheduler to assign CPU to some other process.</p>
    </td>
    </tr>
    <tr>
    <td>3</td>
    <td><p><b>Running</b></p>
    <p>Once the process has been assigned to a processor by the OS scheduler, the process state is set to running and the processor executes its instructions.</p></td>
    </tr>
    <tr>
    <td>4</td>
    <td><p><b>Waiting</b></p> 
    <p>Process moves into the waiting state if it needs to wait for a resource, such as waiting for user input, or waiting for a file to become available.</p></td>
    </tr>
    <tr>
    <td>5</td>
    <td><p><b>Terminated or Exit</b></p>
    <p>Once the process finishes its execution, or it is terminated by the operating system, it is moved to the terminated state where it waits to be removed from main memory.</p></td>
    </tr>
    </table>
    <!-- <img src="/operating_system/images/process_state.jpg" alt="Process States"/> -->
    <br>
    <h2>Process Control Block (PCB)</h2>
    <br>
    <p>A Process Control Block is a data structure maintained by the Operating System for every process. The PCB is identified by an integer process ID (PID). A PCB keeps all the information needed to keep track of a process as listed below in the table &minus;</p>
    <table class="table table-bordered">
    <tr>
    <th style="width:5%;">S.N.</th>
    <th style="text-align:center">Information &amp; Description</th>
    </tr>
    <tr>
    <td>1</td>
    <td><p><b>Process State</b></p>
    <p>The current state of the process i.e., whether it is ready, running, waiting, or whatever.</p>
    </td>
    </tr>
    <tr>
    <td>2</td>
    <td><p><b>Process privileges</b></p>
    <p>This is required to allow/disallow access to system resources.</p></td>
    </tr>
    <tr>
    <td>3</td>
    <td><p><b>Process ID</b></p>
    <p>Unique identification for each of the process in the operating system.</p></td>
    </tr>
    <tr>
    <td>4</td>
    <td><p><b>Pointer</b></p>
    <p>A pointer to parent process.</p></td>
    </tr>
    <tr>
    <td>5</td>
    <td><p><b>Program Counter</b></p>
    <p>Program Counter is a pointer to the address of the next instruction to be executed for this process.</p></td>
    </tr>
    <tr>
    <td>6</td>
    <td><p><b>CPU registers</b></p>
    <p>Various CPU registers where process need to be stored for execution for running state.</p></td>
    </tr>
    <tr>
    <td>7</td>
    <td><p><b>CPU Scheduling Information</b></p> 
    <p>Process priority and other scheduling information  which is required to schedule the process.</p></td>
    </tr>
    <tr>
    <td>8</td>
    <td><p><b>Memory management information</b></p> 
    <p>This includes the information of page table, memory limits, Segment table depending on memory used by the operating system.</p></td>
    </tr>
    <tr>
    <td>9</td>
    <td><p><b>Accounting information</b></p>
    <p>This  includes the amount of CPU used for process execution, time limits, execution ID etc.</p></td>
    </tr>
    <tr>
    <td>10</td>
    <td><p><b>IO status information</b></p>
    <p>This includes a list of I/O devices allocated to the process.</p></td>
    </tr>
    </table>
    <p>The architecture of a PCB is completely dependent on Operating System and may contain different information in different operating systems. Here is a simplified diagram of a PCB &minus;</p>
    <!-- <img src="/operating_system/images/pcb.jpg" alt="Process Control Block" /> -->
    <p>The PCB is maintained for a process throughout its lifetime, and is deleted once the process terminates.</p>


</main>


<footer style="background-color: #2090DB; color: white;text-align: center;" class=" py-6">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3">&copy; 2017–2021 Licensed Product</small>
    </div>
  </div>
</footer>


<section>

<!-- ===============================================================================================-->
    <script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="../../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/bootstrap/js/popper.js"></script>
	<script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/daterangepicker/moment.min.js"></script>
	<script src="../../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="../../js/main.js"></script>
  
    <script src="../../js/custom.js"></script>

    <script src="../../js/adconsent.js"></script>
    <script src="../../js/my-learning.js"></script>
    <script src="../../js/snhb-loader.min.js"></script>
    <script src="../../js/w3codecolor.js"></script>

</section>

</body>
</html>