<!DOCTYPE html>
<html lang="en-US">


<head>
<title>ELearning Platform</title>
<link rel="icon" href="../../favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../css/styles.css">
<link rel="stylesheet" href="../../css/custom.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<script src="../../js/font.js"></script>
<!-- end cmp -->
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../css/util.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>


<body style="position:relative;min-height:100%;">

  <header>


    <div class='w3-container top' style="padding-top:20px;">
        <a class='w3schools-logo notranslate' style="position:absolute;" href='/'>Elearning<span class='dotcom'>.org</span></a>
      
        <!-- <div id="loginactioncontainer" class='w3-right' style='width:80px;height:50px;'>
          <div id="mypagediv"></div> 
            <a id="w3loginbtn" style="border: medium none; display: inline; cursor: pointer; background-color: #2090db;" class="login w3-right w3-hover-greener" href="./login.html" target="_self">LOG IN</a>
        </div> -->
      
        <div id="theworldsgreatest" class='w3-right w3-hide-medium w3-hide-small w3-wide toptext' style="line-height: 50px;margin-right:20px;font-family:'Segoe UI',Arial,sans-serif">
          THE WORLD'S LARGEST ONLINE LEARNING PLATFORM
        </div>
      
      </div>
      
      
      <div class="w3-bar w3-theme w3-card-2 w3-wide notranslate">
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 hidesm" href="javascript:void(0)" onclick="w3_open()"><i class='fa'>&#xf0c9;</i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('tutorials')" id="navbtn_tutorials">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('references')" id="navbtn_references">CORE SUBJECTS <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('examples')" id="navbtn_examples">QUIZ <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16 w3-hide-medium w3-hide-small" href="javascript:void(0)" onclick="w3_open_nav('exercises')" id="navbtn_exercises">ONLINE COURSES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="/quiz" title='quiz'>QUIZ</a>
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="/landing" title='oc'>ONLINE COURSES</a>
      
       <div class="w3-right">
        
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="/about" title='About'>About</a>
        
       </div>
      </div>
       
       <div id='myAccordion' class="w3-card-2 w3-light-grey w3-center w3-hide-large" style="display:none;cursor:default"> 
       <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-xlarge w3-right">&times;</a><br>
       <div class="w3-container w3-padding-32">
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('tutorials');" href="javascript:void(0);">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_tutorials" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('references')" href="javascript:void(0);">CORE SUBJECTS <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_references" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="/quiz">QUIZ</i></a>
        <div id="sectionxs_examples" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="/landing">ONLINE COURSES</i></a>
        <div id="sectionxs_exercises" class="w3-white w3-show"></div>
              
        
       </div>
      </div> 
      
      <nav id="nav_tutorials" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('tutorials')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML5 and CSS3</h3>
          <a class="w3-bar-item w3-button" href="/51">HTML - Attributes</a>
          <a class="w3-bar-item w3-button" href="/52">HTML - Frames</a>
          <a class="w3-bar-item w3-button" href="/53">HTML - Forms</a>
          <a class="w3-bar-item w3-button" href="/54">HTML - Embed Media</a>
          <a class="w3-bar-item w3-button" href="/55">HTML - Layouts</a>
          <a class="w3-bar-item w3-button" href="/21">CSS - Visibility</a>
          <a class="w3-bar-item w3-button" href="/22">CSS - Positioning</a>
          <a class="w3-bar-item w3-button" href="/23">CSS - Padding</a>
          <a class="w3-bar-item w3-button" href="/24">CSS - Layers</a>
          <a class="w3-bar-item w3-button" href="/25">CSS - Animation</a> 
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">JavaScript</h3>
         <a class="w3-bar-item w3-button" href="61">JavaScript - Objects</a>
         <a class="w3-bar-item w3-button" href="62">JavaScript - Strings</a>
         <a class="w3-bar-item w3-button" href='63'>JavaScript - Math</a>
         <a class="w3-bar-item w3-button" href='64'>JavaScript - Arrays</a>
         <a class="w3-bar-item w3-button" href='65'>JavaScript - Error Handling</a>
         
        </div> 
       <div class="w3-col l3 m6">
          <h3 class="w3-margin-top">Python</h3>
          <a class="w3-bar-item w3-button" href="/91">Python - Variables</a>
          <a class="w3-bar-item w3-button" href="/92">Python - Strings</a>
          <a class="w3-bar-item w3-button" href="/93">Python - Lists</a>
          <a class="w3-bar-item w3-button" href="/94">Python - Tuples</a>
          <a class="w3-bar-item w3-button" href="/95">Python - Dictionary</a>
          <a class="w3-bar-item w3-button" href="/96">Python - Exceptions</a>
          
         
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
           
         <h3 class="w3-margin-top">Artificial Intelligence</h3>
          <a class="w3-bar-item w3-button" href="/11"> AI Overview</a>
          <a class="w3-bar-item w3-button" href="/12"> NLP</a>
          <a class="w3-bar-item w3-button" href="/13"> Robotics</a> 
          <a class="w3-bar-item w3-button" href="/14"> Neural Networks</a> 
          <a class="w3-bar-item w3-button" href="/15"> Expert Systems</a> 
           
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_references" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('references')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Data Structure & Algorithms</h3>
          <a class="w3-bar-item w3-button" href="/41">Greedy Algorithms</a>
          <a class="w3-bar-item w3-button" href="/42">Divide and Conquer</a>
          <a class="w3-bar-item w3-button" href="/43">Dynamic Programming</a>
          <a class="w3-bar-item w3-button" href='/44'>Linked List</a>
          <a class="w3-bar-item w3-button" href="/45">Stack</a>
          <a class="w3-bar-item w3-button" href="/46">Queue</a>
         
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Database</h3>
          <a class="w3-bar-item w3-button" href="/31"> Architecture</a>
          <a class="w3-bar-item w3-button" href='/32'> ER Model</a>
          <a class="w3-bar-item w3-button" href="/33"> Indexing</a>
          <a class="w3-bar-item w3-button" href='/34'> Hashing</a>
          <a class="w3-bar-item w3-button" href='/35'> Deadlock</a>
        
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Computer Networks</h3>
          <a class="w3-bar-item w3-button" href='/71'> Network Types</a>
          <a class="w3-bar-item w3-button" href='/72'> Topologies</a>
          <a class="w3-bar-item w3-button" href='/73'> Physical Layer</a>
          <a class="w3-bar-item w3-button" href='/74'> Data Link Layer</a>
          <a class="w3-bar-item w3-button" href='/75'> Network Layer</a>
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Operating System</h3>
          <a class="w3-bar-item w3-button" href='/81'> OS Types</a>
          <a class="w3-bar-item w3-button" href='/82'> Processes</a>
          <a class="w3-bar-item w3-button" href='/83'> Memory Management</a>
          <a class="w3-bar-item w3-button" href='/84'> Virtual Memory</a>
          <a class="w3-bar-item w3-button" href='/85'> File System</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
       <nav id="nav_examples" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('examples')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML and CSS</h3>
         <a class="w3-bar-item w3-button" href='#'>HTML Quiz</a>
         <a class="w3-bar-item w3-button" href='#'>CSS Quiz</a>
         
        </div>
        <div class="w3-col l3 m6">
        
         <h3 class="w3-margin-top">Programming</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Python Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">JavaScript Quiz</a>
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Core Subjects</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Data Structure Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Algorithms Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Database Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Operating System Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Computer Network Quiz</a>
       
        
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
         <h3 class="w3-margin-top">Advanced Technology</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">AI Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">NLP Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Robotics Quiz</a>
        </div>
      </div>
       <br class="hidesm">
      </nav> 
      
      
       <nav id="nav_exercises" class="w3-light-grey w3-card-2 w3-hide-small w3-hide-medium navex">
       <span onclick="w3_close_nav('exercises')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Web Development</h3>
         <a class="w3-bar-item w3-button" href="#">HTML Course</a>
         <a class="w3-bar-item w3-button" href="#">CSS Course</a>
         <a class="w3-bar-item w3-button" href="#">JavaScript Course</a>
         <a class="w3-bar-item w3-button" href="#">SQL Course</a>
         <a class="w3-bar-item w3-button" href="#">Python Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Mobile Development</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">React Native Course</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Flutter Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Game Development</h3>
         <a class="w3-bar-item w3-button" href="#" target="_blank">C# Course</a>
         <a class="w3-bar-item w3-button" href="#" target="_blank">C++ Course</a>
         <a class="w3-bar-item w3-button" href="#" target="_blank">Unity 3D Course</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav> 
    
    </header>


<!-- MAIN -->

<main class="container">
    <h1 class="jumbotron">Operating System - Memory Management</h1>
    <br>
    <hr>


    <p>Memory management is the functionality of an operating system which handles or manages primary memory and moves processes back and forth between main memory and disk during execution. Memory management keeps track of each and every memory location, regardless of either it is allocated to some process or it is free. It checks how much memory is to be allocated to processes. It decides which process will get memory at what time. It tracks whenever some memory gets freed or unallocated and correspondingly it updates the status.</p>
    <p>This tutorial will teach you basic concepts related to Memory Management.</p>
    <br>
    <h2>Process Address Space</h2>
    <br>
    <p>The process address space is the set of logical addresses that a process references in its code. For example, when 32-bit addressing is in use, addresses can range from 0 to 0x7fffffff; that is, 2^31 possible numbers, for a total theoretical size of 2 gigabytes.</p>
    <p>The operating system takes care of mapping the logical addresses to physical addresses at the time of memory allocation to the program. There are three types of addresses used in a program before and after memory is allocated &minus;</p>
    <table class="table table-bordered">
    <tr>
    <th>S.N.</th>
    <th style="text-align:center">Memory Addresses &amp; Description</th>
    </tr>
    <tr>
    <td>1</td>
    <td>
    <p><b>Symbolic addresses</b></p>
    <p>The addresses used in a source code. The variable names, constants, and instruction labels are the basic elements of the symbolic address space.</p>
    </td>
    </tr>
    <tr>
    <td>2</td>
    <td>
    <p><b>Relative addresses</b></p>
    <p>At the time of compilation, a compiler converts symbolic addresses into relative
    addresses.</p>
    </td>
    </tr>
    <tr>
    <td>3</td>
    <td><p><b>Physical addresses</b></p>
    <p>The loader generates these addresses at the time when a program is loaded into main memory.</p>
    </td>
    </tr>
    </table>
    <p>Virtual and physical addresses are the same in compile-time and load-time address-binding schemes. Virtual and physical addresses differ in execution-time address-binding scheme.</p>
    <p>The set of all logical addresses generated by a program is referred to as a <b>logical address space</b>. The set of all physical addresses corresponding to these logical addresses is referred to as a <b>physical address space.</b></p>
    <p>The runtime mapping from virtual to physical address is done by the memory management unit (MMU) which is a hardware device. MMU uses following mechanism to convert virtual address to physical address.</p>
    <ul class="list">
    <li><p>The value in the base register is added to every address generated by a user process, which is treated as offset at the time it is sent to memory. For example, if the base register value is 10000, then an attempt by the user to use address location 100 will be dynamically reallocated to location 10100.</p></li>
    <li><p>The user program deals with virtual addresses; it never sees the real physical addresses.</p></li>
    </ul>
    <br>
    <h2>Static vs Dynamic Loading</h2>
    <br>
    <p>The choice between Static or Dynamic Loading is to be made at the time of computer program being developed. If you have to load your program statically, then at the time of compilation, the complete programs will be compiled and linked without leaving any external program or module dependency. The linker combines the object program with other necessary object modules into an absolute program, which also includes logical addresses.</p>
    <p>If you are writing a Dynamically loaded program, then your compiler will compile the program and for all the modules which you want to include dynamically, only references will be provided and rest of the work will be done at the time of execution.</p>
    <p>At the time of loading, with <b>static loading</b>, the absolute program (and data) is loaded into memory in order for execution to start.</p>
    <p>If you are using <b>dynamic loading</b>, dynamic routines of the library are stored on a disk in relocatable form and are loaded into memory only when they are needed by the program.</p>
    <br>
    <h2>Static vs Dynamic Linking</h2>
    <br>
    <p>As explained above, when static linking is used, the linker combines all other modules needed by a program into a single executable program to avoid any runtime dependency.</p>
    <p>When dynamic linking is used, it is not required to link the actual module or library with the program, rather a reference to the dynamic module is provided at the time of compilation and linking. Dynamic Link Libraries (DLL) in Windows and Shared Objects in Unix are good examples of dynamic libraries.</p>
    <br>
    <h2>Swapping</h2>
    <br>
    <p>Swapping is a mechanism in which a process can be swapped temporarily out of main memory (or move) to secondary storage (disk) and make that memory available to other processes. At some later time, the system swaps back the process from the secondary storage to main memory.</p>
    <p>Though performance is usually affected by swapping process but it helps in running multiple and big processes in parallel and that's the reason <b>Swapping is also known as a technique for memory compaction</b>.</p>
    <!-- <img src="/operating_system/images/process_swapping.jpg" alt="Process Swapping" /> -->
    <p>The total time taken by swapping process includes the time it takes to move the entire process to a secondary disk and then to copy the process back to memory, as well as the time the process takes to regain main memory.</p>
    <p>Let us assume that the user process is of size 2048KB and on a standard hard disk where swapping will take place has a data transfer rate around 1 MB per second. The actual transfer of the 1000K process to or from memory will take</p>
    <pre class="result notranslate">
    2048KB / 1024KB per second
    = 2 seconds
    = 2000 milliseconds
    </pre>
    <p>Now considering in and out time, it will take complete 4000 milliseconds plus other overhead where the process competes to regain main memory.</p>
    <br>
    <h2>Memory Allocation</h2>
    <br>
    <p>Main memory usually has two partitions &minus;</p>
    <ul class="list">
    <li><p><b>Low Memory</b> &minus; Operating system resides in this memory.</p></li>
    <li><p><b>High Memory</b> &minus; User processes are held in high memory.</p></li>
    </ul>
    <p>Operating system uses the following memory allocation mechanism.</p>
    <table class="table table-bordered">
    <tr>
    <th>S.N.</th>
    <th style="text-align:center">Memory Allocation &amp; Description</th>
    </tr>
    <tr>
    <td>1</td>
    <td><p><b>Single-partition allocation</b></p>
    <p>In this type of allocation, relocation-register scheme is used to protect user processes from each other, and from changing operating-system code and data. Relocation register contains value of smallest physical address whereas limit register contains range of logical addresses. Each logical address must be less than the limit register.</p></td>
    </tr>
    <tr>
    <td>2</td>
    <td><p><b>Multiple-partition allocation</b></p>
    <p>In this type of allocation, main memory is divided into a number of fixed-sized
    partitions where each partition should contain only one process. When a partition
    is free, a process is selected from the input queue and is loaded into the free
    partition. When the process terminates, the partition becomes available for
    another process.</p></td>
    </tr>
    </table>
    <br>
    <h2>Fragmentation</h2>
    <br>
    <p>As processes are loaded and removed from memory, the free memory space is broken into little pieces. It happens after sometimes that processes cannot be allocated to memory blocks considering their small size and memory blocks remains unused. This problem is known as Fragmentation.</p>
    <p>Fragmentation is of two types &minus;</p>
    <table class="table table-bordered">
    <tr>
    <th>S.N.</th>
    <th style="text-align:center">Fragmentation &amp; Description</th>
    </tr>
    <tr>
    <td>1</td>
    <td><p><b>External fragmentation</b></p>
    <p>Total memory space is enough to satisfy a request or to reside a process in it, but it is not contiguous, so it cannot be used.</p></td>
    </tr>
    <tr>
    <td>2</td>
    <td><p><b>Internal fragmentation</b></p>
    <p>Memory block assigned to process is bigger. Some portion of memory is left unused, as it cannot be used by another process.</p></td>
    </tr>
    </table>
    <p>The following diagram shows how fragmentation can cause waste of memory and a compaction technique can be used to create more free memory out of fragmented memory &minus;</p>
    <!-- <img src="/operating_system/images/memory_fragmentation.jpg" alt="Memory Fragmentation" /> -->
    <p>External fragmentation can be reduced by compaction or shuffle memory contents to place all free memory together in one large block. To make compaction feasible, relocation should be dynamic.</p>
    <p>The internal fragmentation can be reduced by effectively assigning the smallest partition but large enough for the process.</p>
    <br>
    <h2>Paging</h2>
    <br>
    <p>A computer can address more memory than the amount physically installed on the system. This extra memory is actually called virtual memory and it is a section of a hard that's set up to emulate the computer's RAM. Paging technique plays an important role in implementing virtual memory.</p>
    <p>Paging is a memory management technique in which process address space is broken into blocks of the same size called <b>pages</b> (size is power of 2, between 512 bytes and 8192 bytes). The size of the process is measured in the number of pages.</p>
    <p>Similarly, main memory is divided into small fixed-sized blocks of (physical) memory called <b>frames</b> and the size of a frame is kept the same as that of a page to have optimum utilization of the main memory and to avoid external fragmentation.</p>
    <!-- <img src="/operating_system/images/paging.jpg" alt="Paging" /> -->
    <br>
    <h3>Address Translation</h3>
    <br>
    <p>Page address is called <b>logical address</b> and represented by <b>page number</b> and the <b>offset</b>.</p>
    <pre class="result notranslate">
    Logical Address = Page number + page offset
    </pre> 
    <p>Frame address is called <b>physical address</b> and represented by a <b>frame number</b> and the <b>offset</b>.</p>
    <pre class="result notranslate">
    Physical Address = Frame number + page offset
    </pre>
    <p>A data structure called <b>page map table</b> is used to keep track of the relation between a page of a process to a frame in physical memory.</p>
    <!-- <img src="/operating_system/images/page_map_table.jpg" alt="Page Map Table" /> -->
    <p>When the system allocates a frame to any page, it translates this logical address into a physical address and create entry into the page table to be used throughout execution of the program.</p>
    <p>When a process is to be executed, its corresponding pages are loaded into any available memory frames. Suppose you have a program of 8Kb but your memory can accommodate only 5Kb at a given point in time, then the paging concept will come into picture. When a computer runs out of RAM, the operating system (OS) will move idle or unwanted pages of memory to secondary memory to free up RAM for other processes and brings them back when needed by the program.</p>
    <p>This process continues during the whole execution of the program where the OS keeps removing idle pages from the main memory and write them onto the secondary memory and bring them back when required by the program.</p>
    <br>
    <h3>Advantages and Disadvantages of Paging</h3>
    <br>
    <p>Here is a list of advantages and disadvantages of paging &minus;</p>
    <ul class="list">
    <li><p>Paging reduces external fragmentation, but still suffer from internal fragmentation.</p></li>
    <li><p>Paging is simple to implement and assumed as an efficient memory management technique.</p></li>
    <li><p>Due to equal size of the pages and frames, swapping becomes very easy.</p></li>
    <li><p>Page table requires extra memory space, so may not be good for a system having small RAM.</p></li>
    </ul>
    <br>
    <h2>Segmentation</h2>
    <br>
    <p>Segmentation is a memory management technique in which each job is divided into several segments of different sizes, one for each module that contains pieces that perform related functions. Each segment is actually a different logical address space of the program.</p>
    <p>When a process is to be executed, its corresponding segmentation are loaded into non-contiguous memory though every segment is loaded into a contiguous block of available memory.</p>
    <p>Segmentation memory management works very similar to paging but here segments are of variable-length where as in paging pages are of fixed size.</p>
    <p>A program segment contains the program's main function, utility functions, data structures, and so on. The operating system maintains a <b>segment map table</b> for every process and a list of free memory blocks along with segment numbers, their size and corresponding memory locations in main memory. For each segment, the table stores the starting address of the segment and the length of the segment. A reference to a memory location includes a value that identifies a segment and an offset.</p>
    <!-- <img src="/operating_system/images/segment_map_table.jpg" alt="Segment Map Table" /> -->
    
    

</main>


<footer style="background-color: #2090DB; color: white;text-align: center;" class=" py-6">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3">&copy; 2017–2021 Licensed Product</small>
    </div>
  </div>
</footer>


<section>

<!-- ===============================================================================================-->
    <script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="../../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/bootstrap/js/popper.js"></script>
	<script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/daterangepicker/moment.min.js"></script>
	<script src="../../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="../../js/main.js"></script>
  
    <script src="../../js/custom.js"></script>

    <script src="../../js/adconsent.js"></script>
    <script src="../../js/my-learning.js"></script>
    <script src="../../js/snhb-loader.min.js"></script>
    <script src="../../js/w3codecolor.js"></script>

</section>

</body>
</html>