<!DOCTYPE html>
<html lang="en-US">


<head>
<title>ELearning Platform</title>
<link rel="icon" href="../../favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../css/styles.css">
<link rel="stylesheet" href="../../css/custom.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<script src="../../js/font.js"></script>
<!-- end cmp -->
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../css/util.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>


<body style="position:relative;min-height:100%;">

<header>

    <div class='w3-container top' style="padding-top:20px;">
        <a class='w3schools-logo notranslate' style="position:absolute;" href='../../index.html'>Elearning<span class='dotcom'>.org</span></a>
      
        <!-- <div id="loginactioncontainer" class='w3-right' style='width:80px;height:50px;'>
          <div id="mypagediv"></div> 
            <a id="w3loginbtn" style="border: medium none; display: inline; cursor: pointer; background-color: #2090db;" class="login w3-right w3-hover-greener" href="../../login.html" target="_self">LOG IN</a>
        </div> -->
      
        <div id="theworldsgreatest" class='w3-right w3-hide-medium w3-hide-small w3-wide toptext' style="line-height: 50px;margin-right:20px;font-family:'Segoe UI',Arial,sans-serif">
          THE WORLD'S LARGEST ONLINE LEARNING PLATFORM
        </div>
      
      </div>
      
      
      <div class="w3-bar w3-theme w3-card-2 w3-wide notranslate">
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 hidesm" href="javascript:void(0)" onclick="w3_open()"><i class='fa'>&#xf0c9;</i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('tutorials')" id="navbtn_tutorials">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('references')" id="navbtn_references">CORE SUBJECTS <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('examples')" id="navbtn_examples">QUIZ <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16 w3-hide-medium w3-hide-small" href="javascript:void(0)" onclick="w3_open_nav('exercises')" id="navbtn_exercises">ONLINE COURSES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="../../quiz.html" title='quiz'>QUIZ</a>
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="#" title='oc'>ONLINE COURSES</a>
 
       <div class="w3-right">
        
        <!-- <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="../../signup.html" title='signup'>Sign Up</a> -->
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="../../about.html" title='About'>About</a>
        
       </div>
      </div>
      
      
       <div id='myAccordion' class="w3-card-2 w3-light-grey w3-center w3-hide-large" style="display:none;cursor:default"> 
       <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-xlarge w3-right">&times;</a><br>
       <div class="w3-container w3-padding-32">
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('tutorials');" href="javascript:void(0);">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_tutorials" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('references')" href="javascript:void(0);">CORE SUBJECTS <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_references" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="../../quiz.html">QUIZ</i></a>
        <div id="sectionxs_examples" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="#">ONLINE COURSES</i></a>
        <div id="sectionxs_exercises" class="w3-white w3-show"></div>
        
       </div>
      </div> 
      
      <nav id="nav_tutorials" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('tutorials')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML5 and CSS3</h3>
          <a class="w3-bar-item w3-button" href="../HTML/a.html">HTML - Attributes</a>
          <a class="w3-bar-item w3-button" href="../HTML/b.html">HTML - Frames</a>
          <a class="w3-bar-item w3-button" href="../HTML/c.html">HTML - Forms</a>
          <a class="w3-bar-item w3-button" href="../HTML/d.html">HTML - Embed Media</a>
          <a class="w3-bar-item w3-button" href="../HTML/e.html">HTML - Layouts</a>
          <a class="w3-bar-item w3-button" href="../CSS/a.html">CSS - Visibility</a>
          <a class="w3-bar-item w3-button" href="../CSS/b.html">CSS - Positioning</a>
          <a class="w3-bar-item w3-button" href="../CSS/c.html">CSS - Padding</a>
          <a class="w3-bar-item w3-button" href="../CSS/d.html">CSS - Layers</a>
          <a class="w3-bar-item w3-button" href="../CSS/e.html">CSS - Animation</a> 
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">JavaScript</h3>
         <a class="w3-bar-item w3-button" href="../JavaScript/a.html">JavaScript - Objects</a>
         <a class="w3-bar-item w3-button" href="../JavaScript/b.html">JavaScript - Strings</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/c.html'>JavaScript - Math</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/d.html'>JavaScript - Arrays</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/e.html'>JavaScript - Error Handling</a>
         
        </div> 
       <div class="w3-col l3 m6">
          <h3 class="w3-margin-top">Python</h3>
          <a class="w3-bar-item w3-button" href="../Python/a.html">Python - Variables</a>
          <a class="w3-bar-item w3-button" href="../Python/b.html">Python - Strings</a>
          <a class="w3-bar-item w3-button" href="../Python/c.html">Python - Lists</a>
          <a class="w3-bar-item w3-button" href="../Python/d.html">Python - Tuples</a>
          <a class="w3-bar-item w3-button" href="../Python/e.html">Python - Dictionary</a>
          <a class="w3-bar-item w3-button" href="../Python/f.html">Python - Exceptions</a>
          
         
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
           
         <h3 class="w3-margin-top">Artificial Intelligence</h3>
          <a class="w3-bar-item w3-button" href="../AI/a.html"> AI Overview</a>
          <a class="w3-bar-item w3-button" href="../AI/b.html"> NLP</a>
          <a class="w3-bar-item w3-button" href="../AI/c.html"> Robotics</a> 
          <a class="w3-bar-item w3-button" href="../AI/d.html"> Neural Networks</a> 
          <a class="w3-bar-item w3-button" href="../AI/e.html"> Expert Systems</a> 
           
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_references" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('references')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Data Structure & Algorithms</h3>
          <a class="w3-bar-item w3-button" href="../DSA/a.html">Greedy Algorithms</a>
          <a class="w3-bar-item w3-button" href="../DSA/b.html">Divide and Conquer</a>
          <a class="w3-bar-item w3-button" href="../DSA/c.html">Dynamic Programming</a>
          <a class="w3-bar-item w3-button" href='../DSA/d.html'>Linked List</a>
          <a class="w3-bar-item w3-button" href="../DSA/e.html">Stack</a>
          <a class="w3-bar-item w3-button" href="../DSA/f.html">Queue</a>
         
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Database</h3>
          <a class="w3-bar-item w3-button" href="../Database/a.html"> Architecture</a>
          <a class="w3-bar-item w3-button" href='../Database/b.html'> ER Model</a>
          <a class="w3-bar-item w3-button" href="../Database/c.html"> Indexing</a>
          <a class="w3-bar-item w3-button" href='../Database/d.html'> Hashing</a>
          <a class="w3-bar-item w3-button" href='../Database/e.html'> Deadlock</a>
        
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Computer Networks</h3>
          <a class="w3-bar-item w3-button" href='../Network/a.html'> Network Types</a>
          <a class="w3-bar-item w3-button" href='../Network/b.html'> Topologies</a>
          <a class="w3-bar-item w3-button" href='../Network/c.html'> Physical Layer</a>
          <a class="w3-bar-item w3-button" href='../Network/d.html'> Data Link Layer</a>
          <a class="w3-bar-item w3-button" href='../Network/e.html'> Network Layer</a>
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Operating System</h3>
          <a class="w3-bar-item w3-button" href='../OS/a.html'> OS Types</a>
          <a class="w3-bar-item w3-button" href='../OS/b.html'> Processes</a>
          <a class="w3-bar-item w3-button" href='../OS/c.html'> Memory Management</a>
          <a class="w3-bar-item w3-button" href='../OS/d.html'> Virtual Memory</a>
          <a class="w3-bar-item w3-button" href='../OS/e.html'> File System</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_examples" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('examples')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML and CSS</h3>
         <a class="w3-bar-item w3-button" href='#'>HTML Quiz</a>
         <a class="w3-bar-item w3-button" href='#'>CSS Quiz</a>
         
        </div>
        <div class="w3-col l3 m6">
        
         <h3 class="w3-margin-top">Programming</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Python Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">JavaScript Quiz</a>
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Core Subjects</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Data Structure Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Algorithms Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Database Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Operating System Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Computer Network Quiz</a>
       
        
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
         <h3 class="w3-margin-top">Advanced Technology</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">AI Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">NLP Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Robotics Quiz</a>
        </div>
      </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_exercises" class="w3-light-grey w3-card-2 w3-hide-small w3-hide-medium navex">
       <span onclick="w3_close_nav('exercises')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Web Development</h3>
         <a class="w3-bar-item w3-button" href="#">HTML Course</a>
         <a class="w3-bar-item w3-button" href="#">CSS Course</a>
         <a class="w3-bar-item w3-button" href="#">JavaScript Course</a>
         <a class="w3-bar-item w3-button" href="#">SQL Course</a>
         <a class="w3-bar-item w3-button" href="#">Python Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Mobile Development</h3>
         <a class="w3-bar-item w3-button" href="#">React Native Course</a>
         <a class="w3-bar-item w3-button" href="#">Flutter Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Game Development</h3>
         <a class="w3-bar-item w3-button" href="#">C# Course</a>
         <a class="w3-bar-item w3-button" href="#">C++ Course</a>
         <a class="w3-bar-item w3-button" href="#">Unity 3D Course</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav>



</header>


<!-- MAIN -->

<main class="container">
    <h1 class="jumbotron">AI - Natural Language Processing</h1>
    <br>
    <hr>

    <p>Natural Language Processing (NLP) refers to AI method of communicating with an intelligent systems using a natural language such as English.</p>
<p>Processing of Natural Language is required when you want an intelligent system like robot to perform as per your instructions, when you want to hear decision from a dialogue based clinical expert system, etc.</p>
<p>The field of NLP involves making computers to perform useful tasks with the natural languages humans use. The input and output of an NLP system can be &minus;</p>
<ul class="list">
<li>Speech</li>
<li>Written Text</li>
</ul>
<br>
<h2>Components of NLP</h2>
<br>
<p>There are two components of NLP as given &minus;</p>
<br>
<h3>Natural Language Understanding (NLU)</h3>
<br>
<p>Understanding involves the following tasks &minus;</p>
<ul class="list">
<li>Mapping the given input in natural language into useful representations.</li>
<li>Analyzing different aspects of the language.</li>
</ul>
<br>
<h3>Natural Language Generation (NLG)</h3>
<br>
<p>It is the process of producing meaningful phrases and sentences in the form of natural language from some internal representation.</p>
<p>It involves &minus;</p>
<ul class="list">
<li><p><b>Text planning</b> &minus; It includes retrieving the relevant content from knowledge base.</p></li>
<li><p><b>Sentence planning</b> &minus; It includes choosing required words, forming meaningful phrases, setting tone of the sentence.</p></li>
<li><p><b>Text Realization</b> &minus; It is mapping sentence plan into sentence structure.</p></li>
</ul>
<p>The NLU is harder than NLG.</p>
<br>
<h2>Difficulties in NLU</h2>
<br>
<p>NL has an extremely rich form and structure.</p>
<p>It is very ambiguous. There can be different levels of ambiguity &minus;</p>
<ul class="list">
<li><p><b>Lexical ambiguity</b> &minus; It is at very primitive level such as word-level.</p></li>
<li><p>For example, treating the word “board” as noun or verb?</p></li>
<li><p><b>Syntax Level ambiguity</b> &minus; A sentence can be parsed in different ways.</p></li>
<li><p>For example, “He lifted the beetle with red cap.” &minus; Did he use cap to lift the beetle or he lifted a beetle that had red cap?</p></li>
<li><p><b>Referential ambiguity</b> &minus; Referring to something using pronouns. For example, Rima went to Gauri. She said, “I am tired.” &minus; Exactly who is tired?</p></li>
<li><p>One input can mean different meanings.</p></li>
<li><p>Many inputs can mean the same thing.</p></li>
</ul>
<br>
<h2>NLP Terminology</h2>
<br>
<ul class="list">
<li><p><b>Phonology</b> &minus; It is study of organizing sound systematically.</p></li>
<li><p><b>Morphology</b> &minus; It is a study of construction of words from primitive meaningful units.</p></li>
<li><p><b>Morpheme</b> &minus; It is primitive unit of meaning in a language.</p></li>
<li><p><b>Syntax</b> &minus; It refers to arranging words to make a sentence. It also involves determining the structural role of words in the sentence and in phrases.</p></li>
<li><p><b>Semantics</b> &minus; It is concerned with the meaning of words and how to combine words into meaningful phrases and sentences.</p></li>
<li><p><b>Pragmatics</b> &minus; It deals with using and understanding sentences in different situations and how the interpretation of the sentence is affected.</p></li>
<li><p><b>Discourse</b> &minus; It deals with how the immediately preceding sentence can affect the interpretation of the next sentence.</p></li>
<li><p><b>World Knowledge</b> &minus; It includes the general knowledge about the world.</p></li>
</ul>
<br>
<h2>Steps in NLP</h2>
<br>
<p>There are general five steps &minus;</p>
<ul class="list">
<li><p><b>Lexical Analysis</b> &minus; It involves identifying and analyzing the structure of words. Lexicon of a language means the collection of words and phrases in a language. Lexical analysis is dividing the whole chunk of txt into paragraphs, sentences, and words.</p></li>
<li><p><b>Syntactic Analysis (Parsing)</b> &minus; It involves analysis of words in the sentence for grammar and arranging words in a manner that shows the relationship among the words. The sentence such as “The school goes to boy” is rejected by English syntactic analyzer.</p></li>
</ul>
<!-- <img src="/artificial_intelligence/images/steps_in_nlp.jpg" alt="NLP Steps" /> -->
<ul class="list">
<li><p><b>Semantic Analysis</b> &minus; It draws the exact meaning or the dictionary meaning from the text. The text is checked for meaningfulness. It is done by mapping syntactic structures and objects in the task domain. The semantic analyzer disregards sentence such as “hot ice-cream”.</p></li>
<li><p><b>Discourse Integration</b> &minus; The meaning of any sentence depends upon the meaning of the sentence just before it. In addition, it also brings about the meaning of immediately succeeding sentence.</p></li>
<li><p><b>Pragmatic Analysis</b> &minus; During this, what was said is re-interpreted on what it actually meant. It involves deriving those aspects of language which require real world knowledge.</p></li>
</ul>
<br>
<h2>Implementation Aspects of Syntactic Analysis</h2>
<br>
<p>There are a number of algorithms researchers have developed for syntactic analysis, but we consider only the following simple methods &minus;</p>
<ul class="list">
<li>Context-Free Grammar</li>
<li>Top-Down Parser</li>
</ul>
<p>Let us see them in detail &minus;</p>
<br>
<h3>Context-Free Grammar</h3>
<br>
<p>It is the grammar that consists rules with a single symbol on the left-hand side of the rewrite rules. Let us create grammar to parse a sentence &minus;</p>
<p>“The bird pecks the grains”</p>
<p><b>Articles (DET)</b> &minus; a | an | the</p>
<p><b>Nouns</b> &minus; bird | birds | grain | grains</p>
<p><b>Noun Phrase (NP)</b> &minus; Article &plus; Noun | Article &plus; Adjective &plus; Noun</p>
<p style="padding-left:35%;">= DET N | DET ADJ N</p>
<p><b>Verbs</b> &minus; pecks | pecking | pecked</p>
<p><b>Verb Phrase (VP)</b> &minus; NP V | V NP</p>
<p><b>Adjectives (ADJ)</b> &minus; beautiful | small | chirping</p>
<p>The parse tree breaks down the sentence into structured parts so that the computer can easily understand and process it. In order for the parsing algorithm to construct this parse tree, a set of rewrite rules, which describe what tree structures are legal, need to be constructed.</p>
<p>These rules say that a certain symbol may be expanded in the tree by a sequence of other symbols. According to first order logic rule, if there are two strings Noun Phrase (NP) and Verb Phrase (VP), then the string combined by NP followed by VP is a sentence. The rewrite rules for the sentence are as follows &minus;</p>
<p><b>S &rarr; NP VP</b></p>
<p><b>NP &rarr; DET N | DET ADJ N</b></p>
<p><b>VP &rarr; V NP</b></p>
<p><b>Lexocon &minus;</p></b>
<p>DET &rarr; a | the</p>
<p>ADJ &rarr; beautiful | perching</p>
<p>N &rarr; bird | birds | grain | grains</p>
<p>V &rarr; peck | pecks | pecking</p>
<p>The parse tree can be created as shown &minus;</p>
<!-- <img src="/artificial_intelligence/images/nlp_parsing_tree.jpg" alt="NLP Steps" /> -->
<p>Now consider the above rewrite rules. Since V can be replaced by both, "peck" or "pecks",
sentences such as "The bird peck the grains" can be wrongly permitted. i. e. the subject-verb
agreement error is approved as correct.</p> 
<p><b>Merit</b> &minus; The simplest style of grammar, therefore widely used one.</p>
<p><b>Demerits &minus;</b></p>
<ul class="list">
<li><p>They are not highly precise. For example, “The grains peck the bird”, is a syntactically correct according to parser, but even if it makes no sense, parser takes it as a correct sentence.</p></li>
<li><p>To bring out high precision, multiple sets of grammar need to be prepared. It may require a completely different sets of rules for parsing singular and plural variations, passive sentences, etc., which can lead to creation of huge set of rules that are unmanageable.</p></li>
</ul>
<br>
<h3>Top-Down Parser</h3>
<br>
<p>Here, the parser starts with the S symbol and attempts to rewrite it into a sequence of <i>terminal symbols</i> that matches the classes of the words in the input sentence until it consists entirely of terminal symbols.</p>
<p>These are then checked with the input sentence to see if it matched. If not, the process is started over again with a different set of rules. This is repeated until a specific rule is found which describes the structure of the sentence.</p>
<p><b>Merit</b> &minus; It is simple to implement.</p>
<p><b>Demerits &minus;</b></p>
<ul class="list">
<li>It is inefficient, as the search process has to be repeated if an error occurs.</li>
<li>Slow speed of working.</li>
</ul>

</main>


<footer style="background-color: #2090DB; color: white;text-align: center;" class=" py-6">
  <div class="row">
    <div class="col-12 col-md">
      <small class="d-block mb-3">&copy; 2017–2021 Licensed Product</small>
    </div>
  </div>
</footer>


<section>

<!-- ===============================================================================================-->
    <script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
    <script src="../../vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/bootstrap/js/popper.js"></script>
	<script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/daterangepicker/moment.min.js"></script>
	<script src="../../vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
    <script src="../../js/main.js"></script>
  
    <script src="../../js/custom.js"></script>

    <script src="../../js/adconsent.js"></script>
    <script src="../../js/my-learning.js"></script>
    <script src="../../js/snhb-loader.min.js"></script>
    <script src="../../js/w3codecolor.js"></script>

</section>

</body>
</html>