<!DOCTYPE html>
<html lang="en-US">


<head>
<title>ELearning Platform</title>
<link rel="icon" href="../../favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../css/styles.css">
<link rel="stylesheet" href="../../css/custom.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<script src="../../js/font.js"></script>
<!-- end cmp -->
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../css/util.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>


<body style="position:relative;min-height:100%;">

<header>

    <div class='w3-container top' style="padding-top:20px;">
        <a class='w3schools-logo notranslate' style="position:absolute;" href='../../index.html'>Elearning<span class='dotcom'>.org</span></a>
      
        <!-- <div id="loginactioncontainer" class='w3-right' style='width:80px;height:50px;'>
          <div id="mypagediv"></div> 
            <a id="w3loginbtn" style="border: medium none; display: inline; cursor: pointer; background-color: #2090db;" class="login w3-right w3-hover-greener" href="../../login.html" target="_self">LOG IN</a>
        </div> -->
      
        <div id="theworldsgreatest" class='w3-right w3-hide-medium w3-hide-small w3-wide toptext' style="line-height: 50px;margin-right:20px;font-family:'Segoe UI',Arial,sans-serif">
          THE WORLD'S LARGEST ONLINE LEARNING PLATFORM
        </div>
      
      </div>
      
      
      <div class="w3-bar w3-theme w3-card-2 w3-wide notranslate">
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 hidesm" href="javascript:void(0)" onclick="w3_open()"><i class='fa'>&#xf0c9;</i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('tutorials')" id="navbtn_tutorials">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('references')" id="navbtn_references">CORE SUBJECTS <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('examples')" id="navbtn_examples">QUIZ <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16 w3-hide-medium w3-hide-small" href="javascript:void(0)" onclick="w3_open_nav('exercises')" id="navbtn_exercises">ONLINE COURSES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="../../quiz.html" title='quiz'>QUIZ</a>
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="#" title='oc'>ONLINE COURSES</a>
 
       <div class="w3-right">
        
        <!-- <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="../../signup.html" title='signup'>Sign Up</a> -->
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="../../about.html" title='About'>About</a>
        
       </div>
      </div>
      
      
       <div id='myAccordion' class="w3-card-2 w3-light-grey w3-center w3-hide-large" style="display:none;cursor:default"> 
       <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-xlarge w3-right">&times;</a><br>
       <div class="w3-container w3-padding-32">
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('tutorials');" href="javascript:void(0);">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_tutorials" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('references')" href="javascript:void(0);">CORE SUBJECTS <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_references" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="../../quiz.html">QUIZ</i></a>
        <div id="sectionxs_examples" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="#">ONLINE COURSES</i></a>
        <div id="sectionxs_exercises" class="w3-white w3-show"></div>
        
       </div>
      </div> 
      
      <nav id="nav_tutorials" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('tutorials')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML5 and CSS3</h3>
          <a class="w3-bar-item w3-button" href="../HTML/a.html">HTML - Attributes</a>
          <a class="w3-bar-item w3-button" href="../HTML/b.html">HTML - Frames</a>
          <a class="w3-bar-item w3-button" href="../HTML/c.html">HTML - Forms</a>
          <a class="w3-bar-item w3-button" href="../HTML/d.html">HTML - Embed Media</a>
          <a class="w3-bar-item w3-button" href="../HTML/e.html">HTML - Layouts</a>
          <a class="w3-bar-item w3-button" href="../CSS/a.html">CSS - Visibility</a>
          <a class="w3-bar-item w3-button" href="../CSS/b.html">CSS - Positioning</a>
          <a class="w3-bar-item w3-button" href="../CSS/c.html">CSS - Padding</a>
          <a class="w3-bar-item w3-button" href="../CSS/d.html">CSS - Layers</a>
          <a class="w3-bar-item w3-button" href="../CSS/e.html">CSS - Animation</a> 
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">JavaScript</h3>
         <a class="w3-bar-item w3-button" href="../JavaScript/a.html">JavaScript - Objects</a>
         <a class="w3-bar-item w3-button" href="../JavaScript/b.html">JavaScript - Strings</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/c.html'>JavaScript - Math</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/d.html'>JavaScript - Arrays</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/e.html'>JavaScript - Error Handling</a>
         
        </div> 
       <div class="w3-col l3 m6">
          <h3 class="w3-margin-top">Python</h3>
          <a class="w3-bar-item w3-button" href="../Python/a.html">Python - Variables</a>
          <a class="w3-bar-item w3-button" href="../Python/b.html">Python - Strings</a>
          <a class="w3-bar-item w3-button" href="../Python/c.html">Python - Lists</a>
          <a class="w3-bar-item w3-button" href="../Python/d.html">Python - Tuples</a>
          <a class="w3-bar-item w3-button" href="../Python/e.html">Python - Dictionary</a>
          <a class="w3-bar-item w3-button" href="../Python/f.html">Python - Exceptions</a>
          
         
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
           
         <h3 class="w3-margin-top">Artificial Intelligence</h3>
          <a class="w3-bar-item w3-button" href="../AI/a.html"> AI Overview</a>
          <a class="w3-bar-item w3-button" href="../AI/b.html"> NLP</a>
          <a class="w3-bar-item w3-button" href="../AI/c.html"> Robotics</a> 
          <a class="w3-bar-item w3-button" href="../AI/d.html"> Neural Networks</a> 
          <a class="w3-bar-item w3-button" href="../AI/e.html"> Expert Systems</a> 
           
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_references" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('references')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Data Structure & Algorithms</h3>
          <a class="w3-bar-item w3-button" href="../DSA/a.html">Greedy Algorithms</a>
          <a class="w3-bar-item w3-button" href="../DSA/b.html">Divide and Conquer</a>
          <a class="w3-bar-item w3-button" href="../DSA/c.html">Dynamic Programming</a>
          <a class="w3-bar-item w3-button" href='../DSA/d.html'>Linked List</a>
          <a class="w3-bar-item w3-button" href="../DSA/e.html">Stack</a>
          <a class="w3-bar-item w3-button" href="../DSA/f.html">Queue</a>
         
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Database</h3>
          <a class="w3-bar-item w3-button" href="../Database/a.html"> Architecture</a>
          <a class="w3-bar-item w3-button" href='../Database/b.html'> ER Model</a>
          <a class="w3-bar-item w3-button" href="../Database/c.html"> Indexing</a>
          <a class="w3-bar-item w3-button" href='../Database/d.html'> Hashing</a>
          <a class="w3-bar-item w3-button" href='../Database/e.html'> Deadlock</a>
        
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Computer Networks</h3>
          <a class="w3-bar-item w3-button" href='../Network/a.html'> Network Types</a>
          <a class="w3-bar-item w3-button" href='../Network/b.html'> Topologies</a>
          <a class="w3-bar-item w3-button" href='../Network/c.html'> Physical Layer</a>
          <a class="w3-bar-item w3-button" href='../Network/d.html'> Data Link Layer</a>
          <a class="w3-bar-item w3-button" href='../Network/e.html'> Network Layer</a>
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Operating System</h3>
          <a class="w3-bar-item w3-button" href='../OS/a.html'> OS Types</a>
          <a class="w3-bar-item w3-button" href='../OS/b.html'> Processes</a>
          <a class="w3-bar-item w3-button" href='../OS/c.html'> Memory Management</a>
          <a class="w3-bar-item w3-button" href='../OS/d.html'> Virtual Memory</a>
          <a class="w3-bar-item w3-button" href='../OS/e.html'> File System</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_examples" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('examples')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML and CSS</h3>
         <a class="w3-bar-item w3-button" href='#'>HTML Quiz</a>
         <a class="w3-bar-item w3-button" href='#'>CSS Quiz</a>
         
        </div>
        <div class="w3-col l3 m6">
        
         <h3 class="w3-margin-top">Programming</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Python Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">JavaScript Quiz</a>
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Core Subjects</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Data Structure Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Algorithms Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Database Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Operating System Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Computer Network Quiz</a>
       
        
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
         <h3 class="w3-margin-top">Advanced Technology</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">AI Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">NLP Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Robotics Quiz</a>
        </div>
      </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_exercises" class="w3-light-grey w3-card-2 w3-hide-small w3-hide-medium navex">
       <span onclick="w3_close_nav('exercises')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Web Development</h3>
         <a class="w3-bar-item w3-button" href="#">HTML Course</a>
         <a class="w3-bar-item w3-button" href="#">CSS Course</a>
         <a class="w3-bar-item w3-button" href="#">JavaScript Course</a>
         <a class="w3-bar-item w3-button" href="#">SQL Course</a>
         <a class="w3-bar-item w3-button" href="#">Python Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Mobile Development</h3>
         <a class="w3-bar-item w3-button" href="#">React Native Course</a>
         <a class="w3-bar-item w3-button" href="#">Flutter Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Game Development</h3>
         <a class="w3-bar-item w3-button" href="#">C# Course</a>
         <a class="w3-bar-item w3-button" href="#">C++ Course</a>
         <a class="w3-bar-item w3-button" href="#">Unity 3D Course</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav>



</header>


<!-- MAIN -->

<main class="container">
    <h1 class="jumbotron">DSA - Queue</h1>
    <br>
    <hr>

    <p>Queue is an abstract data structure, somewhat similar to Stacks. Unlike stacks, a queue is open at both its ends. One end is always used to insert data (enqueue) and the other is used to remove data (dequeue). Queue follows First-In-First-Out methodology, i.e., the data item stored first will be accessed first.</p>
    <!-- <img src="/data_structures_algorithms/images/queue_example.jpg" alt="Queue Example" /> -->
    <p>A real-world example of queue can be a single-lane one-way road, where the vehicle enters first, exits first. More real-world examples can be seen as queues at the ticket windows and bus-stops.</p>
    <br>
    <h2>Queue Representation</h2>
    <br>
    <p>As we now understand that in queue, we access both ends for different reasons. The following diagram given below tries to explain queue representation as data structure &minus;</p>
    <!-- <img src="/data_structures_algorithms/images/queue_diagram.jpg" alt="Queue Example" /> -->
    <p>As in stacks, a queue can also be implemented using Arrays, Linked-lists, Pointers and Structures. For the sake of simplicity, we shall implement queues using one-dimensional array.</p>
    <br>
    <h2>Basic Operations</h2>
    <br>
    <p>Queue operations may involve initializing or defining the queue, utilizing it, and then completely erasing it from the memory. Here we shall try to understand the basic operations associated with queues &minus;</p>
    <ul class="list">
    <li><p><b>enqueue()</b> &minus; add (store) an item to the queue.</p></li>
    <li><p><b>dequeue()</b> &minus; remove (access) an item from the queue.</p></li>
    </ul>
    <p>Few more functions are required to make the above-mentioned queue operation efficient. These are &minus;</p>
    <ul class="list">
    <li><p><b>peek()</b> &minus; Gets the element at the front of the queue without removing it.</p></li>
    <li><p><b>isfull()</b> &minus; Checks if the queue is full.</p></li>
    <li><p><b>isempty()</b> &minus; Checks if the queue is empty.</p></li>
    </ul>
    <p>In queue, we always dequeue (or access) data, pointed by <b>front</b> pointer and while enqueing (or storing) data in the queue we take help of <b>rear</b> pointer.</p>
    <p>Let's first learn about supportive functions of a queue &minus;</p>
    <br>
    <h3>peek()</h3>
    <br>
    <p>This function helps to see the data at the <b>front</b> of the queue. The algorithm of peek() function is as follows &minus;</p>
    <p><b>Algorithm</b></p>
    <pre class="result notranslate">
    begin procedure peek
       return queue[front]
    end procedure
    </pre>
    <p>Implementation of peek() function in C programming language &minus;</p>
    <p><b>Example</b></p>
    <pre class="prettyprint notranslate">
    int peek() {
       return queue[front];
    }
    </pre>
    <br>
    <h3>isfull()</h3>
    <br>
    <p>As we are using single dimension array to implement queue, we just check for the rear pointer to reach at MAXSIZE to determine that the queue is full. In case we maintain the queue in a circular linked-list, the algorithm will differ. Algorithm of isfull() function &minus;</p>
    <p><b>Algorithm</b></p>
    <pre class="prettyprint notranslate">
    begin procedure isfull
    
       if rear equals to MAXSIZE
          return true
       else
          return false
       endif
       
    end procedure
    </pre>
    <p>Implementation of isfull() function in C programming language &minus;</p>
    <p><b>Example</b></p>
    <pre class="prettyprint notranslate">
    bool isfull() {
       if(rear == MAXSIZE - 1)
          return true;
       else
          return false;
    }
    </pre>
    <br>
    <h3>isempty()</h3>
    <br>
    <p>Algorithm of isempty() function &minus;</p>
    <p><b>Algorithm</b></p>
    <pre class="prettyprint notranslate">
    begin procedure isempty
    
       if front is less than MIN  OR front is greater than rear
          return true
       else
          return false
       endif
       
    end procedure
    </pre>
    <p>If the value of <b>front</b> is less than MIN or 0, it tells that the queue is not yet initialized, hence empty.</p>
    <p>Here's the C programming code &minus;</p>
    <p><b>Example</b></p>
    <pre class="prettyprint notranslate">
    bool isempty() {
       if(front &lt; 0 || front &gt; rear) 
          return true;
       else
          return false;
    }
    </pre>
    <br>
    <h2>Enqueue Operation</h2>
    <br>
    <p>Queues maintain two data pointers, <b>front</b> and <b>rear</b>. Therefore, its operations are comparatively difficult to implement than that of stacks.</p>
    <p>The following steps should be taken to enqueue (insert) data into a queue &minus;</p>
    <ul class="list">
    <li><p><b>Step 1</b> &minus; Check if the queue is full.</p></li>   
    <li><p><b>Step 2</b> &minus; If the queue is full, produce overflow error and exit.</p></li>  
    <li><p><b>Step 3</b> &minus; If the queue is not full, increment <b>rear</b> pointer to point the next empty space.</p></li>   
    <li><p><b>Step 4</b> &minus; Add data element to the queue location, where the rear is pointing.</p></li>   
    <li><p><b>Step 5</b> &minus; return success.</p></li>
    </ul>
    <!-- <img src="/data_structures_algorithms/images/queue_enqueue_diagram.jpg" alt="Insert Operation" /> -->
    <p>Sometimes, we also check to see if a queue is initialized or not, to handle any unforeseen situations.</p>
    <br>
    <h3>Algorithm for enqueue operation</h3>
    <br>
    <pre class="prettyprint notranslate">
    procedure enqueue(data)      
       
       if queue is full
          return overflow
       endif
       
       rear &larr; rear + 1
       queue[rear] &larr; data
       return true
       
    end procedure
    </pre>
    <p>Implementation of enqueue() in C programming language &minus;</p>
    <p><b>Example</b></p>
    <pre class="prettyprint notranslate">
    int enqueue(int data)      
       if(isfull())
          return 0;
       
       rear = rear &plus; 1;
       queue[rear] = data;
       
       return 1;
    end procedure
    </pre>
    <br>
    <h2>Dequeue Operation</h2>
    <br>
    <p>Accessing data from the queue is a process of two tasks − access the data where <b>front</b> is pointing and remove the data after access. The following steps are taken to perform <b>dequeue</b> operation &minus;</p>
    <ul class="list">
    <li><p><b>Step 1</b> &minus; Check if the queue is empty.</p></li>   
    <li><p><b>Step 2</b> &minus; If the queue is empty, produce underflow error and exit.</p></li>   
    <li><p><b>Step 3</b> &minus; If the queue is not empty, access the data where <b>front</b> is pointing.</p></li>   
    <li><p><b>Step 4</b> &minus; Increment <b>front</b> pointer to point to the next available data element.</p></li>  
    <li><p><b>Step 5</b> &minus; Return success.</p></li>
    </ul>
    <!-- <img src="/data_structures_algorithms/images/queue_dequeue_diagram.jpg" alt="Remove Operation" /> -->
    <br>
    <h3>Algorithm for dequeue operation</h3>
    <br>
    <pre class="prettyprint notranslate">
    procedure dequeue
       
       if queue is empty
          return underflow
       end if
    
       data = queue[front]
       front &larr; front + 1
       return true
    
    end procedure
    </pre>
    <p>Implementation of dequeue() in C programming language &minus;</p>
    <p><b>Example</b></p>
    <pre class="prettyprint notranslate">
    int dequeue() {
       if(isempty())
          return 0;
    
       int data = queue[front];
       front = front + 1;
    
       return data;
    }
    </pre>
    <!-- <p>For a complete Queue program in C programming language, please <a href="/data_structures_algorithms/queue_program_in_c.htm">click here</a>.</p> -->
    

</main>



<footer style="background-color: #2090DB; color: white;text-align: center;" class=" py-6">
   <div class="row">
     <div class="col-12 col-md">
       <small class="d-block mb-3">&copy; 2017–2021 Licensed Product</small>
     </div>
   </div>
 </footer>
 
 
 <section>
 
 <!-- ===============================================================================================-->
     <script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
 <!--===============================================================================================-->
     <script src="../../vendor/animsition/js/animsition.min.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/bootstrap/js/popper.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/select2/select2.min.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/daterangepicker/moment.min.js"></script>
    <script src="../../vendor/daterangepicker/daterangepicker.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/countdowntime/countdowntime.js"></script>
 <!--===============================================================================================-->
     <script src="../../js/main.js"></script>
   
     <script src="../../js/custom.js"></script>
 
     <script src="../../js/adconsent.js"></script>
     <script src="../../js/my-learning.js"></script>
     <script src="../../js/snhb-loader.min.js"></script>
     <script src="../../js/w3codecolor.js"></script>
 
 </section>
 
 </body>
 </html>