<!DOCTYPE html>
<html lang="en-US">


<head>
<title>ELearning Platform</title>
<link rel="icon" href="../../favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../../css/styles.css">
<link rel="stylesheet" href="../../css/custom.css">
<link rel="stylesheet" href="../../css/font-awesome.min.css">
<script src="../../js/font.js"></script>
<!-- end cmp -->
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../css/util.css">
	<link rel="stylesheet" type="text/css" href="../../css/main.css">
</head>


<body style="position:relative;min-height:100%;">

<header>

    <div class='w3-container top' style="padding-top:20px;">
        <a class='w3schools-logo notranslate' style="position:absolute;" href='../../index.html'>Elearning<span class='dotcom'>.org</span></a>
      
        <!-- <div id="loginactioncontainer" class='w3-right' style='width:80px;height:50px;'>
          <div id="mypagediv"></div> 
            <a id="w3loginbtn" style="border: medium none; display: inline; cursor: pointer; background-color: #2090db;" class="login w3-right w3-hover-greener" href="../../login.html" target="_self">LOG IN</a>
        </div> -->
      
        <div id="theworldsgreatest" class='w3-right w3-hide-medium w3-hide-small w3-wide toptext' style="line-height: 50px;margin-right:20px;font-family:'Segoe UI',Arial,sans-serif">
          THE WORLD'S LARGEST ONLINE LEARNING PLATFORM
        </div>
      
      </div>
      
      
      <div class="w3-bar w3-theme w3-card-2 w3-wide notranslate">
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 hidesm" href="javascript:void(0)" onclick="w3_open()"><i class='fa'>&#xf0c9;</i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('tutorials')" id="navbtn_tutorials">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('references')" id="navbtn_references">CORE SUBJECTS <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a>
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_open_nav('examples')" id="navbtn_examples">QUIZ <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
       <!-- <a class="w3-bar-item w3-button barex w3-hover-white w3-padding-16 w3-hide-medium w3-hide-small" href="javascript:void(0)" onclick="w3_open_nav('exercises')" id="navbtn_exercises">ONLINE COURSES <i class='fa fa-caret-down'></i><i class='fa fa-caret-up' style="display:none"></i></a> -->
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="../../quiz.html" title='quiz'>QUIZ</a>
       <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-left topnav-some w3-hide"  href="#" title='oc'>ONLINE COURSES</a>
 
       <div class="w3-right">
        
        <!-- <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="../../signup.html" title='signup'>Sign Up</a> -->
        <a class="w3-bar-item w3-button w3-hover-white w3-padding-16 w3-right topnav-some w3-hide"  href="../../about.html" title='About'>About</a>
        
       </div>
      </div>
      
      
       <div id='myAccordion' class="w3-card-2 w3-light-grey w3-center w3-hide-large" style="display:none;cursor:default"> 
       <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-xlarge w3-right">&times;</a><br>
       <div class="w3-container w3-padding-32">
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('tutorials');" href="javascript:void(0);">WEB TECHNOLOGIES <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_tutorials" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" onclick="open_xs_menu('references')" href="javascript:void(0);">CORE SUBJECTS <i class='fa fa-caret-down'></i></a>
        <div id="sectionxs_references" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="../../quiz.html">QUIZ</i></a>
        <div id="sectionxs_examples" class="w3-white w3-show"></div>
        <a class="w3-button w3-block w3-large w3-wide" href="#">ONLINE COURSES</i></a>
        <div id="sectionxs_exercises" class="w3-white w3-show"></div>
        
       </div>
      </div> 
      
      <nav id="nav_tutorials" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('tutorials')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML5 and CSS3</h3>
          <a class="w3-bar-item w3-button" href="../HTML/a.html">HTML - Attributes</a>
          <a class="w3-bar-item w3-button" href="../HTML/b.html">HTML - Frames</a>
          <a class="w3-bar-item w3-button" href="../HTML/c.html">HTML - Forms</a>
          <a class="w3-bar-item w3-button" href="../HTML/d.html">HTML - Embed Media</a>
          <a class="w3-bar-item w3-button" href="../HTML/e.html">HTML - Layouts</a>
          <a class="w3-bar-item w3-button" href="../CSS/a.html">CSS - Visibility</a>
          <a class="w3-bar-item w3-button" href="../CSS/b.html">CSS - Positioning</a>
          <a class="w3-bar-item w3-button" href="../CSS/c.html">CSS - Padding</a>
          <a class="w3-bar-item w3-button" href="../CSS/d.html">CSS - Layers</a>
          <a class="w3-bar-item w3-button" href="../CSS/e.html">CSS - Animation</a> 
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">JavaScript</h3>
         <a class="w3-bar-item w3-button" href="../JavaScript/a.html">JavaScript - Objects</a>
         <a class="w3-bar-item w3-button" href="../JavaScript/b.html">JavaScript - Strings</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/c.html'>JavaScript - Math</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/d.html'>JavaScript - Arrays</a>
         <a class="w3-bar-item w3-button" href='../JavaScript/e.html'>JavaScript - Error Handling</a>
         
        </div> 
       <div class="w3-col l3 m6">
          <h3 class="w3-margin-top">Python</h3>
          <a class="w3-bar-item w3-button" href="../Python/a.html">Python - Variables</a>
          <a class="w3-bar-item w3-button" href="../Python/b.html">Python - Strings</a>
          <a class="w3-bar-item w3-button" href="../Python/c.html">Python - Lists</a>
          <a class="w3-bar-item w3-button" href="../Python/d.html">Python - Tuples</a>
          <a class="w3-bar-item w3-button" href="../Python/e.html">Python - Dictionary</a>
          <a class="w3-bar-item w3-button" href="../Python/f.html">Python - Exceptions</a>
          
         
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
           
         <h3 class="w3-margin-top">Artificial Intelligence</h3>
          <a class="w3-bar-item w3-button" href="../AI/a.html"> AI Overview</a>
          <a class="w3-bar-item w3-button" href="../AI/b.html"> NLP</a>
          <a class="w3-bar-item w3-button" href="../AI/c.html"> Robotics</a> 
          <a class="w3-bar-item w3-button" href="../AI/d.html"> Neural Networks</a> 
          <a class="w3-bar-item w3-button" href="../AI/e.html"> Expert Systems</a> 
           
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_references" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('references')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Data Structure & Algorithms</h3>
          <a class="w3-bar-item w3-button" href="../DSA/a.html">Greedy Algorithms</a>
          <a class="w3-bar-item w3-button" href="../DSA/b.html">Divide and Conquer</a>
          <a class="w3-bar-item w3-button" href="../DSA/c.html">Dynamic Programming</a>
          <a class="w3-bar-item w3-button" href='../DSA/d.html'>Linked List</a>
          <a class="w3-bar-item w3-button" href="../DSA/e.html">Stack</a>
          <a class="w3-bar-item w3-button" href="../DSA/f.html">Queue</a>
         
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Database</h3>
          <a class="w3-bar-item w3-button" href="../Database/a.html"> Architecture</a>
          <a class="w3-bar-item w3-button" href='../Database/b.html'> ER Model</a>
          <a class="w3-bar-item w3-button" href="../Database/c.html"> Indexing</a>
          <a class="w3-bar-item w3-button" href='../Database/d.html'> Hashing</a>
          <a class="w3-bar-item w3-button" href='../Database/e.html'> Deadlock</a>
        
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Computer Networks</h3>
          <a class="w3-bar-item w3-button" href='../Network/a.html'> Network Types</a>
          <a class="w3-bar-item w3-button" href='../Network/b.html'> Topologies</a>
          <a class="w3-bar-item w3-button" href='../Network/c.html'> Physical Layer</a>
          <a class="w3-bar-item w3-button" href='../Network/d.html'> Data Link Layer</a>
          <a class="w3-bar-item w3-button" href='../Network/e.html'> Network Layer</a>
      
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Operating System</h3>
          <a class="w3-bar-item w3-button" href='../OS/a.html'> OS Types</a>
          <a class="w3-bar-item w3-button" href='../OS/b.html'> Processes</a>
          <a class="w3-bar-item w3-button" href='../OS/c.html'> Memory Management</a>
          <a class="w3-bar-item w3-button" href='../OS/d.html'> Virtual Memory</a>
          <a class="w3-bar-item w3-button" href='../OS/e.html'> File System</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_examples" class="w3-light-grey w3-card-2 w3-hide-small navex">
       <span onclick="w3_close_nav('examples')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">HTML and CSS</h3>
         <a class="w3-bar-item w3-button" href='#'>HTML Quiz</a>
         <a class="w3-bar-item w3-button" href='#'>CSS Quiz</a>
         
        </div>
        <div class="w3-col l3 m6">
        
         <h3 class="w3-margin-top">Programming</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Python Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">JavaScript Quiz</a>
        </div>
        <div class="w3-col l3 m6">
         <h3 class="w3-margin-top">Core Subjects</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">Data Structure Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Algorithms Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Database Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Operating System Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Computer Network Quiz</a>
       
        
        </div>
        <div class="w3-col l3 m6 w3-hide-medium">
         <h3 class="w3-margin-top">Advanced Technology</h3>
         <a class="w3-bar-item w3-button" href="#" target="_top">AI Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">NLP Quiz</a>
         <a class="w3-bar-item w3-button" href="#" target="_top">Robotics Quiz</a>
        </div>
      </div>
       <br class="hidesm">
      </nav>
      
      <nav id="nav_exercises" class="w3-light-grey w3-card-2 w3-hide-small w3-hide-medium navex">
       <span onclick="w3_close_nav('exercises')" class="w3-button w3-xlarge w3-display-topright barex">&times;</span><br>
       <div class="w3-row-padding w3-bar-block">
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Web Development</h3>
         <a class="w3-bar-item w3-button" href="#">HTML Course</a>
         <a class="w3-bar-item w3-button" href="#">CSS Course</a>
         <a class="w3-bar-item w3-button" href="#">JavaScript Course</a>
         <a class="w3-bar-item w3-button" href="#">SQL Course</a>
         <a class="w3-bar-item w3-button" href="#">Python Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Mobile Development</h3>
         <a class="w3-bar-item w3-button" href="#">React Native Course</a>
         <a class="w3-bar-item w3-button" href="#">Flutter Course</a>
        </div>
        <div class="w3-col l4 m12">
         <h3 class="w3-margin-top">Game Development</h3>
         <a class="w3-bar-item w3-button" href="#">C# Course</a>
         <a class="w3-bar-item w3-button" href="#">C++ Course</a>
         <a class="w3-bar-item w3-button" href="#">Unity 3D Course</a>
        
        </div>
       </div>
       <br class="hidesm">
      </nav>



</header>


<!-- MAIN -->

<main class="container">
    <h1 class="jumbotron">JavaScript - Objects</h1>
    <br>
    <hr>

    <p>JavaScript is an Object Oriented Programming (OOP) language. A programming language can be called object-oriented if it provides four basic capabilities to developers &minus;</p>
    <ul class="list">
    <li><p><b>Encapsulation</b> &minus; the capability to store related information, whether data or methods, together in an object.</p></li>
    <li><p><b>Aggregation</b> &minus; the capability to store one object inside another object.</p></li>
    <li><p><b>Inheritance</b> &minus; the capability of a class to rely upon another class (or number of classes) for some of its properties and methods.</p></li>
    <li><p><b>Polymorphism</b> &minus; the capability to write one function or method that works in a variety of different ways.</p></li>
    </ul>
    <p>Objects are composed of attributes. If an attribute contains a function, it is considered to be a method of the object, otherwise the attribute is considered a property.</p>
    <br>
    <h2>Object Properties</h2>
    <br>
    <p>Object properties can be any of the three primitive data types, or any of the abstract data types, such as another object. Object properties are usually variables that are used internally in the object's methods, but can also be globally visible variables that are used throughout the page.</p>
    <p>The syntax for adding a property to an object is &minus;</p>
    <pre class="result notranslate">
    objectName.objectProperty = propertyValue;
    </pre>
    <p><b>For example</b> &minus; The following code gets the document title using the <b>"title"</b> property of the <b>document</b> object.</p>
    <pre class="result notranslate">
    var str = document.title;
    </pre>
    <br>
    <h2>Object Methods</h2>
    <br>
    <p>Methods are the functions that let the object do something or let something be done to it. There is a small difference between a function and a method – at a function is a standalone unit of statements and a method is attached to an object and can be referenced by the <b>this</b> keyword.</p>
    <p>Methods are useful for everything from displaying the contents of the object to the screen to performing complex mathematical operations on a group of local properties and parameters.</p>
    <p><b>For example</b> &minus; Following is a simple example to show how to use the <b>write()</b> method of document object to write any content on the document.</p>
    <pre class="result notranslate">
    document.write("This is test");
    </pre>
    <br>
    <h2>User-Defined Objects</h2>
    <br>
    <p>All user-defined objects and built-in objects are descendants of an object called <b>Object</b>.</p>
    <br>
    <h3>The new Operator</h3>
    <br>
    <p>The <b>new</b> operator is used to create an instance of an object. To create an object, the <b>new</b> operator is followed by the constructor method.</p> 
    <p>In the following example, the constructor methods are Object(), Array(), and Date(). These constructors are built-in JavaScript functions.</p>
    <pre class="prettyprint notranslate">
    var employee = new Object();
    var books = new Array("C++", "Perl", "Java");
    var day = new Date("August 15, 1947");
    </pre>
    <br>
    <h3>The Object() Constructor</h3>
    <br>
    <p>A constructor is a function that creates and initializes an object. JavaScript provides a special constructor function called <b>Object()</b> to build the object. The return value of the <b>Object()</b> constructor is assigned to a variable.</p>
    <p>The variable contains a reference to the new object. The properties assigned to the object are not variables and are not defined with the <b>var</b> keyword.</p>
    <br>
    <h3>Example 1</h3>
    <br>
    <p>Try the following example; it demonstrates how to create an Object.</p>
    <div class="demo-view">
    <!-- <a href="http://tpcg.io/BDKXJI" target="_blank" rel="nofollow" class="demo"><i class="fa-external-link"></i> Live Demo</a> -->
    </div>
    <pre class="prettyprint notranslate">
    &lt;html&gt;
       &lt;head&gt;
          &lt;title&gt;User-defined objects&lt;/title&gt;     
          &lt;script type = "text/javascript"&gt;
             var book = new Object();   // Create the object
             book.subject = "Perl";     // Assign properties to the object
             book.author  = "Mohtashim";
          &lt;/script&gt;      
       &lt;/head&gt;
       
       &lt;body&gt;  
          &lt;script type = "text/javascript"&gt;
             document.write("Book name is : " + book.subject + "&lt;br&gt;");
             document.write("Book author is : " + book.author + "&lt;br&gt;");
          &lt;/script&gt;   
       &lt;/body&gt;
    &lt;/html&gt;
    </pre>
    <br>
    <h3>Output</h3>
    <br>
    <pre class="result notranslate">
    Book name is : Perl 
    Book author is : Mohtashim
    </pre>
    <br>
    <h3>Example 2</h3>
    <br>
    <p>This example demonstrates how to create an object with a User-Defined Function. Here <b>this</b> keyword is used to refer to the object that has been passed to a function.</p>
    <div class="demo-view">
    <!-- <a href="http://tpcg.io/QvyusZ" target="_blank" rel="nofollow" class="demo"><i class="fa-external-link"></i> Live Demo</a> -->
    </div>
    <pre class="prettyprint notranslate">
    &lt;html&gt;
       &lt;head&gt;   
       &lt;title&gt;User-defined objects&lt;/title&gt;
          &lt;script type = "text/javascript"&gt;
             function book(title, author) {
                this.title = title; 
                this.author  = author;
             }
          &lt;/script&gt;      
       &lt;/head&gt;
       
       &lt;body&gt;   
          &lt;script type = "text/javascript"&gt;
             var myBook = new book("Perl", "Mohtashim");
             document.write("Book title is : " + myBook.title + "&lt;br&gt;");
             document.write("Book author is : " + myBook.author + "&lt;br&gt;");
          &lt;/script&gt;      
       &lt;/body&gt;
    &lt;/html&gt;
    </pre>
    <br>
    <h3>Output</h3>
    <br>
    <pre class="result notranslate">
    Book title is : Perl 
    Book author is : Mohtashim
    </pre>
    <br>
    <h2>Defining Methods for an Object</h2>
    <br>
    <p>The previous examples demonstrate how the constructor creates the object and assigns properties. But we need to complete the definition of an object by assigning methods to it.</p>
    <br>
    <h3>Example</h3>
    <br>
    <p>Try the following example; it shows how to add a function along with an object.</p>
    <div class="demo-view">
    <!-- <a href="http://tpcg.io/M8jPyN" target="_blank" rel="nofollow" class="demo"><i class="fa-external-link"></i> Live Demo</a> -->
    </div>
    <pre class="prettyprint notranslate">
    &lt;html&gt;
       
       &lt;head&gt;
       &lt;title&gt;User-defined objects&lt;/title&gt;
          &lt;script type = "text/javascript"&gt;
             // Define a function which will work as a method
             function addPrice(amount) {
                this.price = amount; 
             }
             
             function book(title, author) {
                this.title = title;
                this.author  = author;
                this.addPrice = addPrice;  // Assign that method as property.
             }
          &lt;/script&gt;      
       &lt;/head&gt;
       
       &lt;body&gt;   
          &lt;script type = "text/javascript"&gt;
             var myBook = new book("Perl", "Mohtashim");
             myBook.addPrice(100);
             
             document.write("Book title is : " + myBook.title + "&lt;br&gt;");
             document.write("Book author is : " + myBook.author + "&lt;br&gt;");
             document.write("Book price is : " + myBook.price + "&lt;br&gt;");
          &lt;/script&gt;      
       &lt;/body&gt;
    &lt;/html&gt;
    </pre>
    <br>
    <h3>Output</h3>
    <br>
    <pre class="result notranslate">
    Book title is : Perl 
    Book author is : Mohtashim 
    Book price is : 100
    </pre>
    <br>
    <h2>The 'with' Keyword</h2>
    <br>
    <p>The <b>‘with’</b> keyword is used as a kind of shorthand for referencing an object's properties or methods.</p>
    <p>The object specified as an argument to <b>with</b> becomes the default object for the duration of the block that follows. The properties and methods for the object can be used without naming the object.</p>
    <br>
    <h3>Syntax</h3>
    <br>
    <p>The syntax for with object is as follows &minus;</p>
    <pre class="result notranslate">
    with (object) {
       properties used without the object name and dot
    }
    </pre>
    <br>
    <h3>Example</h3>
    <br>
    <p>Try the following example.</p>
    <div class="demo-view">
    <!-- <a href="http://tpcg.io/qz66Sc" target="_blank" rel="nofollow" class="demo"><i class="fa-external-link"></i> Live Demo</a> -->
    </div>
    <pre class="prettyprint notranslate">
    &lt;html&gt;
       &lt;head&gt;
       &lt;title&gt;User-defined objects&lt;/title&gt;   
          &lt;script type = "text/javascript"&gt;
             // Define a function which will work as a method
             function addPrice(amount) {
                with(this) {
                   price = amount;
                }
             }
             function book(title, author) {
                this.title = title;
                this.author = author;
                this.price = 0;
                this.addPrice = addPrice;  // Assign that method as property.
             }
          &lt;/script&gt;      
       &lt;/head&gt;
       
       &lt;body&gt;   
          &lt;script type = "text/javascript"&gt;
             var myBook = new book("Perl", "Mohtashim");
             myBook.addPrice(100);
             
             document.write("Book title is : " + myBook.title + "&lt;br&gt;");
             document.write("Book author is : " + myBook.author + "&lt;br&gt;");
             document.write("Book price is : " + myBook.price + "&lt;br&gt;");
          &lt;/script&gt;      
       &lt;/body&gt;
    &lt;/html&gt;
    </pre>
    <br>
    <h3>Output</h3>
    <br>
    <pre class="result notranslate">
    Book title is : Perl 
    Book author is : Mohtashim 
    Book price is : 100
    </pre>
    <br>
    <h2>JavaScript Native Objects</h2>
    <br>
    <p>JavaScript has several built-in or native objects. These objects are accessible anywhere in your program and will work the same way in any browser running in any operating system.</p>
    <p>Here is the list of all important JavaScript Native Objects &minus;</p>
    <ul class="list">
    <li><p><a href="/javascript/javascript_number_object.htm">JavaScript Number Object</a></p></li>
    <li><p><a href="/javascript/javascript_boolean_object.htm">JavaScript Boolean Object</a></p></li>
    <li><p><a href="/javascript/javascript_strings_object.htm">JavaScript String Object</a></p></li>
    <li><p><a href="/javascript/javascript_arrays_object.htm">JavaScript Array Object</a></p></li>
    <li><p><a href="/javascript/javascript_date_object.htm">JavaScript Date Object</a></p></li>
    <li><p><a href="/javascript/javascript_math_object.htm">JavaScript Math Object</a></p></li>
    <li><p><a href="/javascript/javascript_regexp_object.htm">JavaScript RegExp Object</a></p></li>
    </ul>

    
</main>


<footer style="background-color: #2090DB; color: white;text-align: center;" class=" py-6">
   <div class="row">
     <div class="col-12 col-md">
       <small class="d-block mb-3">&copy; 2017–2021 Licensed Product</small>
     </div>
   </div>
 </footer>
 
 
 <section>
 
 <!-- ===============================================================================================-->
     <script src="../../vendor/jquery/jquery-3.2.1.min.js"></script>
 <!--===============================================================================================-->
     <script src="../../vendor/animsition/js/animsition.min.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/bootstrap/js/popper.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/select2/select2.min.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/daterangepicker/moment.min.js"></script>
    <script src="../../vendor/daterangepicker/daterangepicker.js"></script>
 <!--===============================================================================================-->
    <script src="../../vendor/countdowntime/countdowntime.js"></script>
 <!--===============================================================================================-->
     <script src="../../js/main.js"></script>
   
     <script src="../../js/custom.js"></script>
 
     <script src="../../js/adconsent.js"></script>
     <script src="../../js/my-learning.js"></script>
     <script src="../../js/snhb-loader.min.js"></script>
     <script src="../../js/w3codecolor.js"></script>
 
 </section>
 
 </body>
 </html>