<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CS Quiz</title>

    <!-- style.css -->
    <link rel="stylesheet" href="./dist/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="quiz">
        <div class="quiz_header">
          <div class="quiz_user">
            <h4>Welcome! <span class="name"></span></h4>
          </div>
          <div class="quiz_timer">
            <span class="time">00:00</span>
          </div>
        </div>
        <div class="quiz_body">
          <div id="questions">
          
          </div>

          <button class="btn-next" onclick="next()">Next Question</button>
        </div>
      </div>
    </div>

    <!-- site.js -->
    <script src="dist/js/site.js"></script>

    <script> 
    
    let dt = new Date(new Date().setTime(0));
    let ctime = dt.getTime();
    let seconds = Math.floor((ctime % (1000 * 60))/ 1000);
    let minutes = Math.floor((ctime % (1000 * 60 * 60))/( 1000 * 60));
    console.log(seconds, minutes);
    let time = 0;
    let mytime = setInterval(function(){
            time++;
            
            if(seconds < 59) {
                seconds++;
            } else {
                seconds = 0;
                minutes++;
            }
            let formatted_sec = seconds < 10 ? `0${seconds}`: `${seconds}`;
            let formatted_min = minutes < 10 ? `0${minutes}`: `${minutes}`
            document.querySelector("span.time").innerHTML = `${formatted_min} : ${formatted_sec}`;
        }, 1000);

        let user_name = sessionStorage.getItem("name");
        document.querySelector("span.name").innerHTML = user_name;

    </script>
  </body>
</html>
